Repository cosmos/ibc-go, pull requests merged in 2023-09, with the labels that each got.

#4538 docs: update callbacks docs' links to use v7.3.0 tag
  docs/middleware/callbacks/integration.md
  docs/middleware/callbacks/interfaces.md
Labels: docs, backport-to-v7.3.x, callbacks middleware

#4539 deps: bump SDK v0.47.5
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
Labels: dependencies, backport-to-v7.3.x

#4537 cli: add argument to `generate-packet-data` cli to use selected encoding format
  docs/apps/interchain-accounts/client.md
  modules/apps/27-interchain-accounts/host/client/cli/tx.go
  modules/apps/27-interchain-accounts/host/client/cli/tx_test.go
Labels: backport-to-v7.3.x, v8

#4571 docs: fixed broken links from cosmos-sdk
  .github/PULL_REQUEST_TEMPLATE.md
  docs/apps/transfer/metrics.md
  docs/dev/project-structure.md
  docs/ibc/apps.md
  docs/ibc/apps/apps.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  docs/ibc/relayer.md
  docs/middleware/ics29-fee/fee-distribution.md
Labels: docs

#4557 fix(mod/capability): implment appmodule.HasBeginBlocker interface
  modules/capability/module.go
Labels: backport-capability-to-v1.0.x

#4543 Add e2e test for recovering a client.
  e2e/tests/core/02-client/client_test.go
Labels: v8

#4586 ci: fix broken docs website
  .github/workflows/deploy-docs.yml
Labels: docs, github_actions

#4580 docs: use MsgRecoverClient in docs
  docs/architecture/adr-026-ibc-client-recovery-mechanisms.md
  docs/ibc/proposals.md
Labels: v8

#4568 fix(callbacks)!: SendPacket validation bypass and erroneous event emission are fixed
  modules/apps/callbacks/ibc_middleware.go
  modules/apps/callbacks/ibc_middleware_test.go
  modules/apps/callbacks/types/errors.go
Labels: backport-to-v7.3.x, callbacks middleware

#4466 feat: add proposal simulator interface function and tests
  modules/apps/27-interchain-accounts/module.go
  modules/apps/27-interchain-accounts/simulation/proposals.go
  modules/apps/27-interchain-accounts/simulation/proposals_test.go
  modules/apps/transfer/module.go
  modules/apps/transfer/simulation/proposals.go
  modules/apps/transfer/simulation/proposals_test.go
  modules/core/module.go
  modules/core/simulation/proposals.go
  modules/core/simulation/proposals_test.go
Labels: v8

#4606 docs(fee): fixed 'PayPacketFeeAsync' godocs
  modules/apps/29-fee/keeper/msg_server.go
Labels: docs, 29-fee

#4594 create separate event emission for ibc software upgrades vs an upgraded client
  modules/core/02-client/keeper/events.go
  modules/core/02-client/keeper/keeper.go
  modules/core/02-client/types/events.go
Labels: v8

#4607 chore: implement `appmodule.AppModule` interface
  modules/light-clients/08-wasm/module.go
Labels: 08-wasm

#4585 e2e: schedule IBC software upgrade
  e2e/tests/core/02-client/client_test.go
  e2e/testsuite/grpc_query.go
  modules/core/02-client/keeper/events.go
Labels: v8

#4587 imp(ica/host): implemented 'PacketDataUnmarshaler'
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/27-interchain-accounts/host/ibc_module_test.go
Labels: 27-interchain-accounts, improvement, adr8

#3104 feat: add metadata for IBC tokens
  docs/migrations/v7-to-v8.md
  modules/apps/transfer/keeper/genesis.go
  modules/apps/transfer/keeper/genesis_test.go
  modules/apps/transfer/keeper/keeper.go
  modules/apps/transfer/keeper/migrations.go
  modules/apps/transfer/keeper/migrations_test.go
  modules/apps/transfer/keeper/relay.go
  modules/apps/transfer/keeper/relay_test.go
  modules/apps/transfer/module.go
  modules/apps/transfer/types/expected_keepers.go
Labels: v8

#4622 Aadding note about Params being self managed
  docs/migrations/v7-to-v8.md
Labels: v8

#4625 docs: added documentation on ICS-20 memo field
  docs/apps/transfer/messages.md
Labels: docs, 20-transfer, improvement

#4627 chore: adding changelog to mod/capability
  modules/capability/CHANGELOG.md
Labels: capability, backport-capability-to-v1.0.x

#4620 feat: migration to gov v1
  .github/compatibility-test-matrices/main/client-chain-a.json
  .github/compatibility-test-matrices/main/client-chain-b.json
  .github/compatibility-test-matrices/release-v6.1.x/client-chain-a.json
  .github/compatibility-test-matrices/release-v6.1.x/client-chain-b.json
  .github/compatibility-test-matrices/release-v6.2.x/client-chain-a.json
  .github/compatibility-test-matrices/release-v6.2.x/client-chain-b.json
  .github/compatibility-test-matrices/release-v7.2.x/client-chain-a.json
  .github/compatibility-test-matrices/release-v7.2.x/client-chain-b.json
  .github/compatibility-test-matrices/release-v7.3.x/client-chain-a.json
  .github/compatibility-test-matrices/release-v7.3.x/client-chain-b.json
  .github/compatibility-test-matrices/unreleased/client.json
  docs/architecture/adr-026-ibc-client-recovery-mechanisms.md
  docs/ibc/events.md
  docs/ibc/proposals.md
  docs/ibc/upgrades/genesis-restart.md
  docs/ibc/upgrades/quick-guide.md
  e2e/go.mod
  e2e/go.sum
  e2e/tests/core/02-client/client_test.go
  e2e/testsuite/grpc_query.go
  go.mod
  go.sum
  modules/apps/27-interchain-accounts/module.go
  modules/apps/27-interchain-accounts/simulation/proposals.go
  modules/apps/27-interchain-accounts/simulation/proposals_test.go
  modules/apps/transfer/module.go
  modules/apps/transfer/simulation/proposals.go
  modules/apps/transfer/simulation/proposals_test.go
  modules/core/02-client/client/cli/cli.go
  modules/core/02-client/client/cli/tx.go
  modules/core/02-client/client/proposal_handler.go
  modules/core/02-client/keeper/client.go
  modules/core/02-client/keeper/client_test.go
  modules/core/02-client/keeper/events.go
  modules/core/02-client/keeper/keeper.go
  modules/core/02-client/keeper/keeper_test.go
  modules/core/02-client/keeper/proposal.go
  modules/core/02-client/keeper/proposal_test.go
  modules/core/02-client/proposal_handler.go
  modules/core/02-client/proposal_handler_test.go
  modules/core/02-client/types/client.pb.go
  modules/core/02-client/types/codec.go
  modules/core/02-client/types/errors.go
  modules/core/02-client/types/events.go
  modules/core/02-client/types/msgs.go
  modules/core/02-client/types/msgs_test.go
  modules/core/02-client/types/proposal.go
  modules/core/02-client/types/proposal_test.go
  modules/core/02-client/types/tx.pb.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  modules/core/module.go
  modules/core/simulation/proposals.go
  modules/core/simulation/proposals_test.go
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/client/v1/tx.proto
  testing/simapp/app.go
  testing/values.go
Labels: v8

#4623 feat: add proposal simulations for MsgRecoverClient and MsgIBCSoftwareUpgrade
  modules/apps/27-interchain-accounts/simulation/proposals.go
  modules/apps/transfer/simulation/proposals.go
  modules/core/simulation/proposals.go
  modules/core/simulation/proposals_test.go
Labels: v8

#4656 fix(callbacks/simapp): removed 'NewClientProposalHandler'
  modules/apps/callbacks/testing/simapp/app.go
Labels: callbacks middleware, v8

#4608 feat: add proposal simulator interface function and tests
  modules/light-clients/08-wasm/module.go
  modules/light-clients/08-wasm/simulation/proposals.go
  modules/light-clients/08-wasm/simulation/proposals_test.go
Labels: 08-wasm

#4650 chore: add module.go compiler assertions
  modules/apps/27-interchain-accounts/module.go
  modules/apps/29-fee/module.go
  modules/apps/transfer/module.go
  modules/core/module.go
Labels: v8

#4591 Add v7 to v8 e2e upgrade test
  .github/workflows/e2e-upgrade.yaml
  e2e/go.mod
  e2e/go.sum
  e2e/tests/core/02-client/client_test.go
  e2e/tests/core/03-connection/connection_test.go
  e2e/tests/interchain_accounts/gov_test.go
  e2e/tests/interchain_accounts/params_test.go
  e2e/tests/transfer/base_test.go
  e2e/tests/upgrades/upgrade_test.go
  e2e/testsuite/codec.go
  e2e/testsuite/testconfig.go
  e2e/testsuite/testsuite.go
  e2e/testsuite/tx.go
  go.mod
  go.sum
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
  testing/simapp/upgrades.go
Labels: v8

#4640 refactor: always set ics27 ports regardless of whether the capability exists
  e2e/tests/upgrades/genesis_test.go
  modules/apps/27-interchain-accounts/controller/keeper/account.go
  modules/apps/27-interchain-accounts/controller/keeper/genesis.go
  modules/apps/27-interchain-accounts/controller/keeper/genesis_test.go
  modules/apps/27-interchain-accounts/controller/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/genesis.go
  modules/apps/27-interchain-accounts/host/keeper/genesis_test.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/module.go
Labels: v8

#4654 chore: add compiler assertions for capability module
  modules/capability/module.go
Labels: v8, backport-capability-to-v1.0.x

#4306 Update wasm light client unit tests and tendermint/grandpa cw contract
  modules/light-clients/08-wasm/keeper/genesis_test.go
  modules/light-clients/08-wasm/test_data/README
  modules/light-clients/08-wasm/test_data/data.json
  modules/light-clients/08-wasm/test_data/genesis.json
  modules/light-clients/08-wasm/test_data/ics07_tendermint_cw.wasm.gz
  modules/light-clients/08-wasm/test_data/ics10_grandpa_cw.wasm.gz
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/consensus_state_test.go
  modules/light-clients/08-wasm/types/contract_api.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/update_test.go
  testing/simapp/app.go
Labels: 08-wasm

#4642 e2e: check that IBC tokens on destination chain have metadata
  e2e/tests/transfer/base_test.go
  e2e/testsuite/grpc_query.go
  e2e/testvalues/values.go
Labels: v8

#4111 Add test for parsing connection paths
  modules/core/24-host/parse_test.go
Labels: core

#4657 ci: 'callbacks.yml' to run on every PR and push to main
  .github/workflows/callbacks.yml
Labels: github_actions, callbacks middleware

#4649 E2E Upgrade Part 2 - Human Readable IBC Denom
  .github/workflows/e2e-upgrade.yaml
  e2e/tests/transfer/base_test.go
  e2e/tests/upgrades/upgrade_test.go
  e2e/testsuite/grpc_query.go
  e2e/testsuite/testsuite.go
  modules/apps/transfer/keeper/keeper.go
Labels: v8

#4685 replace all instances of collections.Contains with slices.Contains across the entire codebase
  internal/collections/collections.go
  internal/collections/collections_test.go
  modules/apps/27-interchain-accounts/host/client/cli/tx.go
  modules/apps/27-interchain-accounts/types/metadata.go
  modules/core/02-client/types/params.go
  modules/core/03-connection/types/version.go
  testing/events.go
Labels: v8

#4688 ci: switched to docusaurus check and deploy workflows
  .github/workflows/check-docs.yml
  .github/workflows/deploy-docs.yml
Labels: docs, github_actions

#4689 deps(mod/capability): bump cosmossdk.io/core to v0.11.0
  modules/capability/go.mod
  modules/capability/go.sum
Labels: dependencies, capability, backport-capability-to-v1.0.x

#4708 chore: bump capability module to latest sdk commit
  modules/capability/go.mod
  modules/capability/go.sum
Labels: dependencies, capability, backport-capability-to-v1.0.x

#4694 chore: adding callbacks/release/v0.2.x+ibc-go-v7.3.x backport action to mergify
  .github/mergify.yml
Labels: github_actions, callbacks middleware

#4630 fix: update testconfig to use revision formatted chainIDs
  e2e/sample.config.yaml
  e2e/tests/core/02-client/client_test.go
  e2e/testsuite/testconfig.go
Labels: v8

#4716 docs: fix broken sdk links
  .github/PULL_REQUEST_TEMPLATE.md
  docs/apps/transfer/metrics.md
  docs/dev/project-structure.md
  docs/ibc/apps.md
  docs/ibc/apps/apps.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  docs/ibc/relayer.md
  docs/middleware/ics29-fee/fee-distribution.md
Labels: docs

#4631 Update ADR8
  docs/architecture/README.md
  docs/architecture/adr-008-app-caller-cbs.md
  docs/architecture/adr-008-app-caller-cbs/adr-008-app-caller-cbs.md
  docs/architecture/adr-008-app-caller-cbs/transfer-callback-scaffold.md
  docs/middleware/callbacks/overview.md
Labels: docs, backport-to-v7.3.x, callbacks middleware, adr8

#4706 fix(query): get next send sequence for transfer packets
  modules/core/04-channel/keeper/grpc_query.go
  modules/core/04-channel/keeper/grpc_query_test.go
Labels: core, gRPC

#4703 chore(api)!: make port keeper pointer
  docs/migrations/v7-to-v8.md
  modules/apps/27-interchain-accounts/controller/keeper/keeper_test.go
  modules/apps/27-interchain-accounts/host/keeper/keeper_test.go
  modules/apps/callbacks/testing/simapp/app.go
  modules/apps/transfer/keeper/keeper_test.go
  modules/core/05-port/keeper/keeper_test.go
  modules/core/keeper/keeper.go
  testing/simapp/app.go
Labels: v8

#4726 ci: fix deploy-docs action
  .github/workflows/deploy-docs.yml
Labels: docs, github_actions

#4727 ci: fix deploy-docs action
  .github/workflows/deploy-docs.yml
Labels: docs, github_actions

#4725 Add fzf selection for config files
  .gitignore
  e2e/scripts/run-e2e.sh
Labels: improvement, e2e

#4733 ci: fix deploy docs
  .github/workflows/deploy-docs.yml
  docs/docusaurus.config.js
  docs/static/CNAME
Labels: docs, github_actions

#4746 fix: register impls against govtypes.Content interface
  modules/core/02-client/types/codec.go
  modules/core/02-client/types/codec_test.go
Labels: bug, v8

#4745 docs: fix broken links
  README.md
  docs/dev/release-management.md
  docs/docs/01-ibc/01-overview.md
  docs/docs/01-ibc/05-upgrades/03-genesis-restart.md
  docs/docs/01-ibc/06-proposals.md
  docs/docs/01-ibc/07-relayer.md
  docs/docs/02-apps/01-transfer/06-metrics.md
  docs/docs/04-middleware/01-ics29-fee/04-fee-distribution.md
  docs/docs/05-migrations/02-sdk-to-v1.md
  docs/docs/05-migrations/05-v3-to-v4.md
  docs/versioned_docs/version-v4.4.x/01-ibc/01-overview.md
  docs/versioned_docs/version-v4.4.x/01-ibc/05-upgrades/01-quick-guide.md
  docs/versioned_docs/version-v4.4.x/01-ibc/05-upgrades/03-genesis-restart.md
  docs/versioned_docs/version-v4.4.x/01-ibc/07-relayer.md
  docs/versioned_docs/version-v4.4.x/02-apps/01-transfer/06-metrics.md
  docs/versioned_docs/version-v4.4.x/03-middleware/01-ics29-fee/04-fee-distribution.md
  docs/versioned_docs/version-v4.4.x/04-migrations/02-sdk-to-v1.md
  docs/versioned_docs/version-v4.4.x/04-migrations/05-v3-to-v4.md
  docs/versioned_docs/version-v5.3.x/01-ibc/01-overview.md
  docs/versioned_docs/version-v5.3.x/01-ibc/05-upgrades/01-quick-guide.md
  docs/versioned_docs/version-v5.3.x/01-ibc/05-upgrades/03-genesis-restart.md
  docs/versioned_docs/version-v5.3.x/01-ibc/07-relayer.md
  docs/versioned_docs/version-v5.3.x/02-apps/01-transfer/06-metrics.md
  docs/versioned_docs/version-v5.3.x/03-middleware/01-ics29-fee/04-fee-distribution.md
  docs/versioned_docs/version-v5.3.x/04-migrations/02-sdk-to-v1.md
  docs/versioned_docs/version-v5.3.x/04-migrations/05-v3-to-v4.md
  docs/versioned_docs/version-v6.2.x/01-ibc/01-overview.md
  docs/versioned_docs/version-v6.2.x/01-ibc/05-upgrades/01-quick-guide.md
  docs/versioned_docs/version-v6.2.x/01-ibc/05-upgrades/03-genesis-restart.md
  docs/versioned_docs/version-v6.2.x/01-ibc/07-relayer.md
  docs/versioned_docs/version-v6.2.x/02-apps/01-transfer/06-metrics.md
  docs/versioned_docs/version-v6.2.x/03-middleware/01-ics29-fee/04-fee-distribution.md
  docs/versioned_docs/version-v6.2.x/04-migrations/02-sdk-to-v1.md
  docs/versioned_docs/version-v6.2.x/04-migrations/05-v3-to-v4.md
  docs/versioned_docs/version-v7.3.x/01-ibc/01-overview.md
  docs/versioned_docs/version-v7.3.x/01-ibc/05-upgrades/01-quick-guide.md
  docs/versioned_docs/version-v7.3.x/01-ibc/05-upgrades/03-genesis-restart.md
  docs/versioned_docs/version-v7.3.x/01-ibc/07-relayer.md
  docs/versioned_docs/version-v7.3.x/02-apps/01-transfer/06-metrics.md
  docs/versioned_docs/version-v7.3.x/04-middleware/01-ics29-fee/04-fee-distribution.md
  docs/versioned_docs/version-v7.3.x/05-migrations/02-sdk-to-v1.md
  docs/versioned_docs/version-v7.3.x/05-migrations/05-v3-to-v4.md
Labels: docs

#4722 test: check nil vm and empty authority
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/module.go
Labels: 08-wasm

#4752 docs: add extra documentation to `wasmCall` and `wasmQuery` functions
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#4741 nit: panic with error
  e2e/relayer/relayer.go
  e2e/testsuite/testsuite.go
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/controller/keeper/genesis.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/controller/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/genesis.go
  modules/apps/27-interchain-accounts/host/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/keeper_test.go
  modules/apps/27-interchain-accounts/module.go
  modules/apps/27-interchain-accounts/simulation/decoder.go
  modules/apps/29-fee/keeper/escrow.go
  modules/apps/callbacks/callbacks_test.go
  modules/apps/callbacks/ibc_middleware.go
  modules/apps/callbacks/testing/simapp/export.go
  modules/apps/transfer/keeper/genesis.go
  modules/apps/transfer/keeper/keeper.go
  modules/apps/transfer/keeper/mbt_relay_test.go
  modules/apps/transfer/keeper/migrations.go
  modules/apps/transfer/keeper/relay.go
  modules/apps/transfer/module.go
  modules/apps/transfer/simulation/decoder.go
  modules/capability/keeper/keeper.go
  modules/capability/simulation/decoder.go
  modules/core/02-client/genesis.go
  modules/core/02-client/keeper/keeper.go
  modules/core/02-client/migrations/v7/solomachine.go
  modules/core/02-client/types/height.go
  modules/core/03-connection/keeper/keeper.go
  modules/core/04-channel/keeper/handshake.go
  modules/core/04-channel/keeper/keeper.go
  modules/core/05-port/keeper/keeper.go
  modules/core/05-port/types/router.go
  modules/core/05-port/types/utils.go
  modules/core/keeper/keeper.go
  modules/core/module.go
  modules/core/simulation/decoder.go
  modules/light-clients/06-solomachine/client_state.go
  testing/simapp/export.go
Labels: code hygiene

#4748 E2E To verify legacy client upgrade proposal fails
  e2e/tests/core/02-client/client_test.go
  e2e/tests/core/03-connection/connection_test.go
  e2e/tests/interchain_accounts/gov_test.go
  e2e/tests/interchain_accounts/params_test.go
  e2e/tests/transfer/base_test.go
  e2e/tests/upgrades/upgrade_test.go
  e2e/testsuite/grpc_query.go
  e2e/testsuite/tx.go
Labels: v8

#4759 docs(fee): fixed fee ModuleCdc's godocs
  modules/apps/29-fee/types/codec.go
Labels: docs, 29-fee

#4757 test: implement codec registration tests for ibc core and lightclients
  modules/core/03-connection/types/codec_test.go
  modules/core/04-channel/types/codec_test.go
  modules/core/23-commitment/types/codec_test.go
  modules/light-clients/06-solomachine/codec_test.go
  modules/light-clients/07-tendermint/codec_test.go
  modules/light-clients/09-localhost/codec_test.go
Labels: testing

#4459 fix(api)!: remove `Pretty` and `String` custom implementations of `MerklePath`
  modules/core/23-commitment/types/commitment.pb.go
  modules/core/23-commitment/types/merkle.go
  modules/core/23-commitment/types/merkle_test.go
  modules/core/exported/commitment.go
  modules/light-clients/06-solomachine/client_state_test.go
  proto/ibc/core/commitment/v1/commitment.proto
  testing/solomachine.go
Labels: automerge

#4763 deps: bump SDK v0.50-rc.1
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
  modules/apps/callbacks/testing/simapp/simd/cmd/root.go
  modules/capability/go.mod
  modules/capability/go.sum
  testing/simapp/simd/cmd/root.go
Labels: v8, backport-capability-to-v1.0.x

#4728 docs: some more v8 migration docs
  docs/docs/05-migrations/11-v7-to-v8.md
  e2e/README.md
Labels: v8

#4605 chore: add 08-wasm events
  modules/core/02-client/types/events.go
  modules/light-clients/08-wasm/keeper/events.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/types/config.go
  modules/light-clients/08-wasm/types/events.go
Labels: 08-wasm

#4776 Go mod tidy on 08-wasm
  modules/light-clients/08-wasm/go.mod
Labels: 08-wasm

#4770 Save gas on capability IsInitialized call
  modules/capability/keeper/keeper.go
Labels: backport-capability-to-v1.0.x

#4777 Add workflow to build image for 08-wasm
  .github/workflows/build-wasm-simd-image-from-tag.yml
Labels: 08-wasm

#4775 docs: implemented Mary's suggestions
  docs/docs/00-intro.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/black-large-ibc-logo.svg
  docs/static/img/white-large-ibc-logo.svg
Labels: docs

#4789 Use a type constraint instead of any for wasmCall/wasmQuery.
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/contract_api.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/upgrade.go
Labels: 08-wasm

#4791 Use an error when panicking.
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/simapp/export.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#4793 docs: added tutorial for Cosmoverse 2023
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/src/components/HighlightBox.jsx
  docs/src/components/HighlightTag.jsx
  docs/src/css/custom.css
  docs/static/img/icons/hi-coffee-icon.svg
  docs/static/img/icons/hi-info-icon.svg
  docs/static/img/icons/hi-note-icon.svg
  docs/static/img/icons/hi-prerequisite-icon.svg
  docs/static/img/icons/hi-reading-icon.svg
  docs/static/img/icons/hi-star-icon.svg
  docs/static/img/icons/hi-target-icon.svg
  docs/static/img/icons/hi-tip-icon.svg
  docs/static/img/icons/hi-warn-icon.svg
  docs/tutorials/00-intro.md
  docs/tutorials/01-fee/01-intro.md
  docs/tutorials/01-fee/02-setup-env.md
  docs/tutorials/01-fee/03-scaffold-chain.md
  docs/tutorials/01-fee/04-wire-feeibc-mod.md
  docs/tutorials/01-fee/05-scaffold-react.md
  docs/tutorials/01-fee/06-wire-fee-react.md
  docs/tutorials/01-fee/07-test-app.md
  docs/tutorials/01-fee/_category_.json
  docs/tutorials/01-fee/images/ignite-landing.png
  docs/tutorials/01-fee/images/ignite-react-fee.png
  docs/tutorials/01-fee/images/ignite-unmodified.png
  docs/tutorials/01-fee/images/react-fee-demo.png
Labels: docs
