Repository cosmos/ibc-go, pull requests merged in 2023-06, with the labels that each got.

#3558 imp: transfer total escrow follow ups
  docs/.vuepress/config.js
  docs/apps/transfer/authorizations.md
  docs/apps/transfer/client.md
  docs/architecture/README.md
  docs/architecture/adr-011-transfer-total-escrow-state-entry.md
  docs/migrations/v7-to-v7_1.md
  e2e/testconfig/testconfig.go
  e2e/tests/transfer/base_test.go
  modules/apps/transfer/client/cli/query.go
  modules/apps/transfer/keeper/genesis_test.go
  modules/apps/transfer/keeper/invariants.go
  modules/apps/transfer/keeper/invariants_test.go
  modules/apps/transfer/keeper/keeper.go
  modules/apps/transfer/keeper/keeper_test.go
  modules/apps/transfer/keeper/relay_test.go
  modules/apps/transfer/module.go
  proto/ibc/applications/transfer/v1/query.proto
Labels: backport-to-v7.1.x

#3731 Add QueryChannelUpgradeProof.
  testing/endpoint.go
Labels: automerge

#3766 add logging in total escrow migration
  modules/apps/transfer/keeper/migrations.go
Labels: backport-to-v7.1.x

#3775 change error text of total escrow migration
  modules/apps/transfer/module.go
Labels: backport-to-v7.1.x

#3858 update MsgUpgradeTimeout response, add getter directives
  modules/core/04-channel/types/tx.pb.go
  proto/ibc/core/channel/v1/tx.proto
Labels: channel-upgradeability

#3902 Remove error return from OnChanUpgradeRestore.
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/transfer/ibc_module.go
  modules/core/05-port/types/module.go
  testing/mock/ibc_app.go
  testing/mock/ibc_module.go
Labels: channel-upgradeability

#3850 Add NewMsgUpdateParams for host.
  modules/apps/27-interchain-accounts/host/keeper/msg_server_test.go
  modules/apps/27-interchain-accounts/host/types/msgs.go
  modules/apps/27-interchain-accounts/host/types/msgs_test.go
Labels: 27-interchain-accounts

#3845 chore: adding result to `MsgChannelUpgradeAckResponse`
  modules/core/04-channel/types/tx.pb.go
  proto/ibc/core/channel/v1/tx.proto
Labels: channel-upgradeability

#3905 update upgrade seq comparison in `ChanUpgradeTimeout`
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#3893 chore: add deprecated option to `MsgSubmitMisbehaviour`
  modules/core/02-client/types/tx.pb.go
  proto/ibc/core/client/v1/tx.proto
Labels: code hygiene

#3872 Add e2e for changing controller params.
  e2e/tests/interchain_accounts/params_test.go
Labels: 27-interchain-accounts, e2e

#3848 Implement MsgChannelUpgradeCancel message server handler
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  testing/mock/ibc_module.go
  testing/mock/mock.go
Labels: channel-upgradeability

#3855 `ChanUpgradeTimeout` `msg_server` function
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/transfer/ibc_module.go
  modules/core/04-channel/keeper/export_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
  modules/core/04-channel/types/tx.pb.go
  modules/core/05-port/types/module.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  proto/ibc/core/channel/v1/tx.proto
  testing/endpoint.go
  testing/mock/ibc_app.go
  testing/mock/ibc_module.go
Labels: channel-upgradeability

#3908 removes `gogoproto.equal = false` directive for protos
  docs/ibc/light-clients/setup.md
  modules/apps/27-interchain-accounts/controller/types/tx.pb.go
  modules/apps/29-fee/types/tx.pb.go
  modules/apps/transfer/types/tx.pb.go
  modules/core/02-client/types/client.pb.go
  modules/core/02-client/types/tx.pb.go
  modules/core/03-connection/types/tx.pb.go
  modules/core/04-channel/types/tx.pb.go
  proto/ibc/applications/fee/v1/tx.proto
  proto/ibc/applications/interchain_accounts/controller/v1/tx.proto
  proto/ibc/applications/transfer/v1/tx.proto
  proto/ibc/core/channel/v1/tx.proto
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/client/v1/tx.proto
  proto/ibc/core/connection/v1/tx.proto
Labels: code hygiene

#3849 feat: adding msg server implementation for `ChannelUpgradeAck`
  modules/core/04-channel/keeper/upgrade.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability

#3894 Add a check that simd is runnable.
  .github/workflows/docker.yml
Labels: github_actions

#3907 fix(statemachine)!: re-implement legacy msg interface
  CHANGELOG.md
  modules/apps/29-fee/types/msgs.go
  modules/apps/transfer/types/msgs.go
Labels: bug, backport-to-v7.2.x

#3909 chore: add missing type checks
  modules/apps/27-interchain-accounts/controller/types/msgs.go
  modules/core/04-channel/types/msgs.go
Labels: code hygiene

#3964 update WriteUpgradeTry to change flush status to `FLUSHCOMPLETE` if there are no packet commitments left
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#3912 Add flush status check in SendPacket
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
Labels: channel-upgradeability

#3844 Add ChanUpgradeOpen core handler.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/errors.go
Labels: channel-upgradeability

#3867 Remove unnecessary event attribute from INIT Handshake Msgs
  docs/migrations/v7-to-v8.md
  modules/core/03-connection/keeper/events.go
  modules/core/04-channel/keeper/events.go
Labels: code hygiene
