Repository cosmos/ibc-go, pull requests merged in 2023-11, with the labels that each got.

#4723 Add snapshotter extension
  modules/light-clients/08-wasm/keeper/export_test.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/keeper/snapshotter.go
  modules/light-clients/08-wasm/keeper/snapshotter_test.go
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/testing/simapp/test_helpers.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/utils.go
Labels: 08-wasm

#5004 chore: adding type alias for code hash byte slices
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/genesis_test.go
  modules/light-clients/08-wasm/keeper/snapshotter.go
  modules/light-clients/08-wasm/types/wasm.go
  modules/light-clients/08-wasm/types/wasm_test.go
Labels: 08-wasm

#5020 fix expect pointer error when unmarshalling misbehaviour file
  CHANGELOG.md
  modules/core/02-client/client/cli/tx.go
Labels: backport-to-v8.0.x

#5007 Sync gas_register.go with wasmd main
  modules/light-clients/08-wasm/go.mod
  modules/light-clients/08-wasm/types/gas_register.go
  modules/light-clients/08-wasm/types/gas_register_custom.go
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#5000 feat(08-wasm): implement 'MigrateContract' RPC endpoint
  modules/light-clients/08-wasm/internal/ibcwasm/expected_interfaces.go
  modules/light-clients/08-wasm/keeper/events.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/keeper/msg_server.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/events.go
  modules/light-clients/08-wasm/types/expected_keepers.go
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/migrate_contract.go
  modules/light-clients/08-wasm/types/migrate_contract_test.go
  modules/light-clients/08-wasm/types/msgs.go
  modules/light-clients/08-wasm/types/msgs_test.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/tx.pb.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/validation.go
  modules/light-clients/08-wasm/types/validation_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/vm_test.go
  proto/ibc/lightclients/wasm/v1/tx.proto
Labels: 08-wasm

#5030 chore: rename code ID/checksum to code hash
  modules/light-clients/08-wasm/internal/ibcwasm/expected_interfaces.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/migrate_contract_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/wasm.go
Labels: 08-wasm

#5039 fix: correct error formatting in client status check in client recovery
  modules/core/02-client/keeper/client.go
Labels: backport-to-v8.0.x

#5038 deps: bump SDK v0.50.1
  CHANGELOG.md
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  modules/apps/27-interchain-accounts/host/keeper/relay_test.go
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
  modules/capability/go.mod
  modules/capability/go.sum
  modules/capability/module.go
Labels: v8, backport-capability-to-v1.0.x, backport-to-v8.0.x

#5006 feat(08-wasm): implement 'RemoveCodeHash' RPC endpoint
  modules/light-clients/08-wasm/keeper/msg_server.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/types/codec.go
  modules/light-clients/08-wasm/types/codec_test.go
  modules/light-clients/08-wasm/types/msgs.go
  modules/light-clients/08-wasm/types/msgs_test.go
  modules/light-clients/08-wasm/types/tx.pb.go
  modules/light-clients/08-wasm/types/wasm.go
  proto/ibc/lightclients/wasm/v1/tx.proto
Labels: 08-wasm

#5065 Rename wasmInit to wasmInstantiate and Features to Capabilities.
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/types/config.go
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/vm_test.go
Labels: 08-wasm

#5067 chore: rm testsuite ctx and store fields
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/genesis_test.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade_test.go
  modules/light-clients/08-wasm/types/vm_test.go
Labels: 08-wasm

#5068 deps: bump capability to v1.0.0
  go.mod
  go.sum
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
Labels: needs review

#5043 test(e2e): added migrate contract tests
  e2e/tests/data/migrate_error.wasm.gz
  e2e/tests/data/migrate_success.wasm.gz
  e2e/tests/wasm/grandpa_test.go
  e2e/testsuite/tx.go
Labels: 08-wasm, e2e

#4203 docs: documentation for 08-wasm
  docs/.vuepress/config.js
  docs/docs/03-light-clients/04-wasm/01-overview.md
  docs/docs/03-light-clients/04-wasm/02-concepts.md
  docs/docs/03-light-clients/04-wasm/03-integration.md
  docs/docs/03-light-clients/04-wasm/04-messages.md
  docs/docs/03-light-clients/04-wasm/05-governance.md
  docs/docs/03-light-clients/04-wasm/06-events.md
  docs/docs/03-light-clients/04-wasm/07-contracts.md
  docs/docs/03-light-clients/04-wasm/08-client.md
  docs/docs/03-light-clients/04-wasm/_category_.json
Labels: docs, 08-wasm, needs review

#5031 docs: changed versioned docs' URLs
  docs/docusaurus.config.js
Labels: docs

#5080 docs: new social card for docs
  docs/docusaurus.config.js
  docs/static/img/ibc-go-docs-social-card.png
Labels: docs

#5066 Set wasmvm cache size to zero.
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/types/config.go
Labels: 08-wasm

#5081 ci: add PR labeler
  .github/pr_labeler.yml
  .github/workflows/pr_labeler.yml
Labels: github_actions

#5037 Add check that wasm contract only modifies code hash in migrateContract API
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/testing/values.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/errors.go
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/migrate_contract.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/vm_test.go
Labels: 08-wasm, priority

#5091 deps(callbacks): remove local pin
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
Labels: dependencies, callbacks middleware

#5083 e2e: update tag of v7 to v8 upgrade test
  .github/workflows/e2e-upgrade.yaml
Labels: github_actions

#5109 Fix Upgrade Tests
  e2e/tests/wasm/grandpa_test.go
  e2e/testsuite/testconfig.go
  e2e/testsuite/testsuite.go
  e2e/testsuite/tx.go
  e2e/testvalues/values.go
Labels: e2e

#5103 imp: unpin contract in remove code hash
  modules/light-clients/08-wasm/internal/ibcwasm/expected_interfaces.go
  modules/light-clients/08-wasm/keeper/msg_server.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/testing/values.go
Labels: 08-wasm, gRPC, priority

#5102 imp: return `Unauthorised` if code hash is not stored
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/client_state_test.go
Labels: 08-wasm, priority

#5100 add 08-wasm code owners
  .github/CODEOWNERS
Labels: github_actions

#5101 imp: check response in instantiate and migrate from wasm vm calls
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/vm_test.go
Labels: 08-wasm

#5108 imp: remove `LatestSequenceSend`
  e2e/tests/core/02-client/client_test.go
  e2e/testsuite/grpc_query.go
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/upgrade.go
  modules/core/04-channel/types/upgrade.pb.go
  proto/ibc/core/channel/v1/upgrade.proto
  testing/endpoint.go
Labels: channel-upgradeability

#5119 Bump all dependabot actions.
  .github/workflows/build-wasm-simd-image-from-tag.yml
  .github/workflows/wasm-client.yml
Labels: github_actions

#4975 test: add ParsePacketsFromEvents
  testing/events.go
  testing/events_test.go
Labels: testing

#4368 Move check for upgraded client state height to 02-client layer.
  modules/core/02-client/keeper/client.go
  modules/core/02-client/keeper/client_test.go
  modules/light-clients/07-tendermint/upgrade.go
  modules/light-clients/08-wasm/types/upgrade.go
Labels: core, 07-tendermint, 08-wasm, 02-client

#5027 test: adding e2e for grandpa client recovery test
  e2e/tests/wasm/contracts/ics10_grandpa_cw.wasm
  e2e/tests/wasm/contracts/ics10_grandpa_cw_expiry.wasm.gz
  e2e/tests/wasm/contracts/migrate_error.wasm.gz
  e2e/tests/wasm/contracts/migrate_success.wasm.gz
  e2e/tests/wasm/grandpa_test.go
  proto/ibc/lightclients/wasm/v1/query.proto
Labels: 08-wasm, e2e, protobuf

#5133 docs: rename code hash to checksum in 08-wasm docs
  docs/docs/03-light-clients/04-wasm/02-concepts.md
  docs/docs/03-light-clients/04-wasm/04-messages.md
  docs/docs/03-light-clients/04-wasm/05-governance.md
  docs/docs/03-light-clients/04-wasm/06-events.md
  docs/docs/03-light-clients/04-wasm/07-contracts.md
  docs/docs/03-light-clients/04-wasm/08-client.md
Labels: docs

#5123 imp: use wasm VM CreateChecksum
  modules/light-clients/08-wasm/keeper/events.go
  modules/light-clients/08-wasm/keeper/export_test.go
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/keeper/snapshotter.go
  modules/light-clients/08-wasm/keeper/snapshotter_test.go
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/testing/values.go
  modules/light-clients/08-wasm/testing/wasm_endpoint.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/migrate_contract_test.go
  modules/light-clients/08-wasm/types/msgs_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/validation.go
  modules/light-clients/08-wasm/types/validation_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/wasm.go
  modules/light-clients/08-wasm/types/wasm_test.go
Labels: 08-wasm, backport-wasm-v0.1.x+ibc-go-v7.3.x-wasmvm-v1.4.x, backport-wasm-v0.1.x+ibc-go-v8.0.x-wasmvm-v1.4.x

#5110 Remove header from events
  modules/core/02-client/keeper/client_test.go
  modules/core/02-client/keeper/events.go
  modules/core/02-client/types/events.go
Labels: core, 02-client

#5151 rm: unnecessary vuepress file
  docs/.vuepress/config.js
Labels: docs

#5093 chore: propagate IBC authority to 04-channel keeper to be used within upgrade cancellation
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server.go
Labels: channel-upgradeability

#5159 nit(08-wasm): removed unused param from 'NewConsensusState'
  modules/light-clients/08-wasm/testing/wasm_endpoint.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/consensus_state.go
  modules/light-clients/08-wasm/types/consensus_state_test.go
Labels: 08-wasm

#5170 docs: improved channel closure docs
  docs/docs/01-ibc/01-overview.md
  docs/docs/01-ibc/03-apps/02-ibcmodule.md
  docs/docs/02-apps/01-transfer/01-overview.md
  docs/docs/02-apps/02-interchain-accounts/01-overview.md
Labels: docs

#5165 refactor: adapt testing endpoint query for channel upgrade proofs
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server_test.go
  testing/endpoint.go
Labels: core, testing, 04-channel, channel-upgradeability

#5143 test: adding test for crossing hello trys with historical proofs
  modules/core/04-channel/keeper/upgrade_test.go
Labels: core, 04-channel, channel-upgradeability

#5175 use GetPrefixedDenom to create IBC token denom
  modules/apps/transfer/keeper/relay.go
Labels: 20-transfer

#5177 Remove dummy error
  modules/capability/module.go
  modules/core/04-channel/keeper/timeout.go
Labels: core, 04-channel, capability

#5161 Call `Pin` during app inisitalization
  docs/docs/03-light-clients/04-wasm/03-integration.md
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/simapp/app.go
Labels: docs, 08-wasm

#5018 e2e: timeout transfer with grandpa light client
  e2e/sample.config.yaml
  e2e/tests/wasm/grandpa_test.go
  e2e/testsuite/testconfig.go
Labels: e2e

#5167 Change to StoreCodeUnchecked in Genesis and snapshotter
  modules/light-clients/08-wasm/internal/ibcwasm/expected_interfaces.go
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/msg_server.go
  modules/light-clients/08-wasm/keeper/snapshotter.go
  modules/light-clients/08-wasm/testing/mock_engine.go
Labels: 08-wasm, gRPC

#5179 chore: update swagger
  docs/client/swagger-ui/swagger.yaml
Labels: docs

#5166 docs: add IBC overview diagram
  docs/docs/00-intro.md
  docs/docs/images/ibcoverview.png
Labels: docs

#5203 Remove incorrect godoc
  modules/core/04-channel/keeper/upgrade.go
Labels: core, 04-channel

#5205 Return correct error
  modules/core/04-channel/keeper/upgrade.go
Labels: core, 04-channel

#5214 Add comment about partially formed upgrade
  modules/core/04-channel/keeper/upgrade.go
Labels: core, 04-channel

#5163 Verify channel upgrade can be completed after cancellation is successful
  modules/core/04-channel/keeper/upgrade_test.go
Labels: core, 04-channel

#5232 Allow empty error receipt proof if sender is authorized
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
Labels: core, 04-channel

#5246 Use panic in WriteErrorReceipt
  modules/core/04-channel/keeper/upgrade.go
  modules/core/keeper/msg_server.go
Labels: core, 04-channel, gRPC

#5239 Add comment when setting the version to counterparty version
  modules/core/04-channel/keeper/upgrade.go
Labels: core, 04-channel

#5236 Add to docstring with explanation about channel state
  modules/core/04-channel/keeper/upgrade.go
Labels: core, 04-channel

#5154 imp: use bytes in wasm contract api instead of wrapped types
  docs/docs/03-light-clients/04-wasm/07-contracts.md
  e2e/tests/wasm/contracts/ics10_grandpa_cw.wasm
  e2e/tests/wasm/contracts/ics10_grandpa_cw.wasm.gz
  e2e/tests/wasm/contracts/ics10_grandpa_cw_expiry.wasm.gz
  e2e/tests/wasm/grandpa_test.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/testing/values.go
  modules/light-clients/08-wasm/testing/wasm_endpoint.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/contract_api.go
  modules/light-clients/08-wasm/types/misbehaviour_handle.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade.go
  modules/light-clients/08-wasm/types/upgrade_test.go
  modules/light-clients/08-wasm/types/vm_test.go
Labels: docs, 08-wasm, e2e, priority, backport-wasm-v0.1.x+ibc-go-v7.3.x-wasmvm-v1.5.x, backport-wasm-v0.1.x+ibc-go-v8.0.x-wasmvm-v1.5.x

#5286 Add workflow to build wasm simapp
  .github/workflows/release-wasm.yml
Labels: github_actions, priority

#5288 Workflow to trigger wasm E2Es with a specific tag
  .github/workflows/e2e-manual-wasm-simd.yaml
Labels: github_actions
