Repository cosmos/ibc-go, pull requests merged in 2023-12, with the labels that each got.

#5291 Chore: replace `fmt.Sprintf` with `fmt.Errorf` in `upgrades.go`
  modules/core/04-channel/keeper/upgrade.go
Labels: core, 04-channel

#5238 Remove setting counterparty upgrade info in upgrade try
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server.go
Labels: core, 04-channel, gRPC

#5262 fix: allow error receipt to be nil in case of the msg sender is the authority
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
Labels: core, 04-channel

#5300 feat: Added the MetadataFromVersion function
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/types/metadata.go
Labels: 27-interchain-accounts

#5306 fix: remove 08-wasm from 02-client exported
  e2e/tests/wasm/grandpa_test.go
  modules/core/02-client/types/params.go
  modules/core/exported/client.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/wasm_endpoint.go
  modules/light-clients/08-wasm/types/client_message.go
  modules/light-clients/08-wasm/types/client_message_test.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/consensus_state.go
  modules/light-clients/08-wasm/types/consensus_state_test.go
  modules/light-clients/08-wasm/types/keys.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/validation.go
  modules/light-clients/08-wasm/types/validation_test.go
Labels: backport-wasm-v0.1.x+ibc-go-v7.3.x-wasmvm-v1.5.x, backport-wasm-v0.1.x+ibc-go-v8.0.x-wasmvm-v1.5.x

#5141 Implement OnChanUpgradeInit on Controller Chain for interchain-accounts
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/controller/keeper/export_test.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake_test.go
  modules/apps/27-interchain-accounts/controller/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/types/metadata.go
Labels: 27-interchain-accounts, channel-upgradeability

#5327 feat: add ibcwasm upgrade handler for store migrations
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/testing/simapp/upgrades.go
Labels: priority, backport-wasm-v0.1.x+ibc-go-v8.0.x-wasmvm-v1.5.x

#5312 docs: added connection delay documentation
  docs/docs/01-ibc/01-overview.md
Labels: docs

#5274 Document MsgChannelUpgradeCancel
  README.md
  docs/docs/01-ibc/06-channel-upgrades.md
  docs/docs/01-ibc/07-proposals.md
  docs/docs/01-ibc/08-relayer.md
  docs/docs/01-ibc/09-proto-docs.md
  docs/docs/01-ibc/10-roadmap.md
  docs/docs/01-ibc/11-troubleshooting.md
  docs/docs/01-ibc/12-capability-module.md
  docs/docs/05-migrations/02-sdk-to-v1.md
Labels: docs

#5333 e2e: adding ibcwasm e2e upgrade test
  .github/workflows/e2e-fork.yml
  .github/workflows/e2e-upgrade.yaml
  .github/workflows/e2e.yaml
  e2e/tests/wasm/upgrade_test.go
  e2e/testsuite/grpc_query.go
Labels: priority

#5335 docs: add docs for checksums migration
  docs/docs/03-light-clients/04-wasm/09-migrations.md
Labels: 08-wasm

#5289 ChannelUpgradeInit refactor
  modules/core/04-channel/keeper/upgrade.go
Labels: core, 04-channel, gRPC

#5144 Implement OnChanUpgradeTry on Host Chain for interchain-accounts
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/27-interchain-accounts/host/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/keeper/handshake_test.go
Labels: channel-upgradeability

#5345 feat(08-wasm): querier plugins implemented
  modules/light-clients/08-wasm/internal/ibcwasm/expected_interfaces.go
  modules/light-clients/08-wasm/internal/ibcwasm/querier.go
  modules/light-clients/08-wasm/internal/ibcwasm/wasm.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/keeper/migrations.go
  modules/light-clients/08-wasm/keeper/options.go
  modules/light-clients/08-wasm/keeper/options_test.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/types/events.go
  modules/light-clients/08-wasm/types/querier.go
  modules/light-clients/08-wasm/types/querier_test.go
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm, priority, backport-wasm-v0.1.x+ibc-go-v7.3.x-wasmvm-v1.5.x, backport-wasm-v0.1.x+ibc-go-v8.0.x-wasmvm-v1.5.x

#5160 Implement OnChanUpgradeAck on Controller Chain for interchain-accounts
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake_test.go
Labels: channel-upgradeability

#5390 chore: adding interface assertions for app upgrade interface
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/transfer/ibc_module.go
  testing/mock/ibc_module.go
Labels: channel-upgradeability

#5237 Make sure that the error receipt we write always has a sequence greater than the existing one.
  modules/core/04-channel/keeper/export_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: core, 04-channel, channel-upgradeability

#5398 docs: added docs on 08-wasm options api
  docs/docs/03-light-clients/04-wasm/03-integration.md
  docs/docs/03-light-clients/04-wasm/05-governance.md
Labels: docs, 08-wasm

#5231 refactor: remove unnecessary decrement when fast forwarding upgrade sequence
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: core, 04-channel, channel-upgradeability

#5376 imp: add passthrough handlers for callbacks mw module
  modules/apps/callbacks/ibc_middleware.go
Labels: channel-upgradeability, priority

#5280 Add list of allowed packet data keys to Allocation of TransferAuthorization
  docs/docs/02-apps/01-transfer/08-authorizations.md
  modules/apps/transfer/types/authz.pb.go
  modules/apps/transfer/types/keys.go
  modules/apps/transfer/types/transfer_authorization.go
  modules/apps/transfer/types/transfer_authorization_test.go
  proto/ibc/applications/transfer/v1/authz.proto
Labels: docs, 20-transfer, protobuf

#5416 e2e: fix wasm e2e tests
  e2e/tests/wasm/feature_releases.go
  e2e/tests/wasm/grandpa_test.go
Labels: priority

#5347 docs: `ChanUpgradeInit` and governance gating
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: docs, channel-upgradeability

#5430 feat: add grpc cli query channel params
  docs/client/swagger-ui/swagger.yaml
  modules/core/04-channel/client/cli/cli.go
  modules/core/04-channel/client/cli/query.go
  modules/core/04-channel/keeper/grpc_query.go
  modules/core/04-channel/keeper/grpc_query_test.go
  modules/core/04-channel/types/query.pb.go
  modules/core/04-channel/types/query.pb.gw.go
  modules/core/keeper/grpc_query.go
  proto/ibc/core/channel/v1/query.proto
Labels: channel-upgradeability, priority

#5358 e2e: successful test where the channel is upgraded and fee middleware is enabled
  e2e/go.mod
  e2e/go.sum
  e2e/sample.config.yaml
  e2e/tests/core/04-channel/upgrades_test.go
  e2e/tests/wasm/grandpa_test.go
  e2e/testsuite/grpc_query.go
  e2e/testsuite/testconfig.go
  e2e/testsuite/testsuite.go
Labels: e2e, channel-upgradeability, priority

#5346 docs: reasoning and use cases for channel upgradability
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: docs, channel-upgradeability

#5432 revert "imp: remove `LatestSequenceSend` (#5108)"
  modules/core/03-connection/keeper/verify_test.go
  modules/core/04-channel/keeper/grpc_query_test.go
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/msgs_test.go
  modules/core/04-channel/types/upgrade.go
  modules/core/04-channel/types/upgrade.pb.go
  modules/core/04-channel/types/upgrade_test.go
  proto/ibc/core/channel/v1/upgrade.proto
  testing/endpoint.go
Labels: channel-upgradeability, priority

#5415 disallow ICA upgrades that change channel order + increase test coverage
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/27-interchain-accounts/host/ibc_module_test.go
Labels: channel-upgradeability, priority

#5439 chore: fix 08-wasm light client documentation
  docs/docs/03-light-clients/04-wasm/03-integration.md
Labels: priority

#3240 Channel upgradability requirements
  docs/requirements/channel-upgradability-requirements.md
Labels: channel-upgradeability

#5404 refactor: restructure timeout type
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/errors.go
  modules/core/04-channel/types/timeout.go
  modules/core/04-channel/types/timeout_test.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability

#5396 remove cosmosTx.getbytes()
  modules/apps/27-interchain-accounts/types/packet.go
Labels: api breaking

#5419 ICS4: Fix Sequencing logic in UpgradeTry
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  testing/chain.go
Labels: channel-upgradeability, priority

#5438 imp: add logic for setting `NextSeqRecv`, `NextSeqAck` in `OnChanUpgradeOpen`
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/upgrade.go
  modules/core/04-channel/types/upgrade.pb.go
  modules/core/24-host/packet_keys.go
  proto/ibc/core/channel/v1/upgrade.proto
  testing/endpoint.go
Labels: channel-upgradeability, priority

#5469 check counterparty `nextSequenceSend` in `recvPacket`
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability, priority

#5444 Add pruning logic, implementation in message server.
  e2e/tests/core/04-channel/upgrades_test.go
  modules/apps/transfer/types/authz.pb.go
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/keeper_test.go
  modules/core/04-channel/types/errors.go
  modules/core/04-channel/types/tx.pb.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  proto/ibc/core/channel/v1/tx.proto
Labels: channel-upgradeability, priority

#5481 fix: add MsgPruneAcknowledgements to codec registration
  modules/core/04-channel/types/codec.go
  modules/core/04-channel/types/codec_test.go
Labels: channel-upgradeability, priority, backport-to-v8.1.x

#5484 fix: remove api breaks on backport for channel upgradability
  modules/core/04-channel/types/genesis.go
  modules/core/04-channel/types/genesis_test.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
  modules/core/ante/ante_test.go
  modules/core/genesis_test.go
  modules/core/keeper/msg_server_test.go
  testing/endpoint.go
  testing/solomachine.go
Labels: channel-upgradeability, priority
