Repository cosmos/ibc-go, pull requests merged in 2023-07, with the labels that each got.

#3914 Add FlushStatus Checks to RecvPacket
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
Labels: channel-upgradeability

#3922 Amend AcknowledgePacket to handle flushing
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
Labels: channel-upgradeability

#3923 Amend timeout to handle in-flight packets.
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
Labels: channel-upgradeability

#4043 chore: update links in migration docs
  docs/migrations/v7-to-v7_1.md
Labels: backport-to-v7.2.x, backport-to-v7.3.x

#4051 chore: adding callback for OnChanUpgradeRestore in abort scenarios
  modules/core/keeper/msg_server.go
Labels: channel-upgradeability

#4042 chore: replace with new errors package
  modules/core/04-channel/keeper/keeper.go
Labels: code hygiene

#4052 Pass in counterparty portID, channelID when verifying channel in ChanUpgradeOpen.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: bug, channel-upgradeability

#4058 Migrated the errors to new package
  e2e/tests/transfer/authz_test.go
  modules/light-clients/08-wasm/keeper/grpc_query.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/msg_server.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/consensus_state.go
  modules/light-clients/08-wasm/types/errors.go
  modules/light-clients/08-wasm/types/gas_register.go
  modules/light-clients/08-wasm/types/header.go
  modules/light-clients/08-wasm/types/misbehaviour.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/upgrade.go
Labels: 08-wasm

#4068 deps: upgrade capability to sdk v0.50 and remove ibc-go dependency
  modules/capability/capability_test.go
  modules/capability/genesis_test.go
  modules/capability/go.mod
  modules/capability/go.sum
  modules/capability/keeper/keeper.go
  modules/capability/keeper/keeper_test.go
  modules/capability/module.go
  modules/capability/simulation/decoder_test.go
  modules/capability/simulation/genesis.go
  modules/capability/simulation/genesis_test.go
  modules/capability/types/types.go
Labels: capability

#4063 Pass counterparty portID, channelID in UpgradeCancel
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: bug, channel-upgradeability

#3882 Add e2e test for ics27 host params
  e2e/tests/interchain_accounts/params_test.go
  e2e/testsuite/codec.go
  e2e/testsuite/tx.go
Labels: 27-interchain-accounts, e2e

#4032 imp: remove code id key from genesis contract
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/genesis_test.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/types/genesis.pb.go
  proto/ibc/lightclients/wasm/v1/genesis.proto
Labels: 08-wasm

#4086 bump wasmvm
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  modules/light-clients/08-wasm/go.mod
  modules/light-clients/08-wasm/go.sum
Labels: 08-wasm

#4095 build and test wasm client on PR
  .github/workflows/wasm-client.yml
  .gitignore
Labels: 08-wasm

#4092 add `authority` parameter to 08-wasm `NewKeeper`
  modules/light-clients/08-wasm/keeper/keeper.go
  testing/simapp/app.go
Labels: 08-wasm

#4088 Merge `storeWasmCode` and `importWasmCode` functions
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/keeper.go
Labels: 08-wasm

#4019 feat: adding `OnChanUpgradeInit` handler implementation to `29-fee`
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/29-fee/ibc_middleware_test.go
  modules/apps/29-fee/types/metadata.go
  modules/apps/29-fee/types/metadata_test.go
  testing/chain.go
  testing/simapp/test_helpers.go
Labels: channel-upgradeability

#4023 feat: adding `OnChanUpgradeTry` handler implementation for `29-fee`
  .golangci.yml
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/29-fee/ibc_middleware_test.go
Labels: channel-upgradeability

#4093 Pin code to the wasm VM cache
  modules/light-clients/08-wasm/keeper/keeper.go
Labels: 08-wasm

#4028 feat: adding `OnChanUpgradeAck` handler implementation to `29-fee`
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/29-fee/ibc_middleware_test.go
Labels: channel-upgradeability

#4116 test: update solomachine event parsing
  testing/solomachine.go
Labels: testing

#4074 Use counterparty connection hops when verifying channel state
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4077 Add tests for WriteUpgradeOpenChannel.
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4076 Add tests for WriteUpgradeCancel.
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4075 Move channel to OPEN if all in-flight packets have been flushed in UpgradeAck.
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability

#4122 Bump to sdk 0.47.4
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: backport-to-v7.3.x

#4091 renaming to align with x/wasm naming
  docs/architecture/adr-027-ibc-wasm.md
  docs/client/swagger-ui/swagger.yaml
  modules/core/02-client/types/events.go
  modules/light-clients/08-wasm/client/cli/cli.go
  modules/light-clients/08-wasm/client/cli/query.go
  modules/light-clients/08-wasm/client/cli/tx.go
  modules/light-clients/08-wasm/keeper/events.go
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/genesis_test.go
  modules/light-clients/08-wasm/keeper/grpc_query.go
  modules/light-clients/08-wasm/keeper/grpc_query_test.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/msg_server.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/module.go
  modules/light-clients/08-wasm/test_data/genesis.json
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/errors.go
  modules/light-clients/08-wasm/types/genesis.go
  modules/light-clients/08-wasm/types/genesis.pb.go
  modules/light-clients/08-wasm/types/genesis_test.go
  modules/light-clients/08-wasm/types/keys.go
  modules/light-clients/08-wasm/types/msgs.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/query.pb.go
  modules/light-clients/08-wasm/types/query.pb.gw.go
  modules/light-clients/08-wasm/types/tx.pb.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/wasm.pb.go
  proto/ibc/lightclients/wasm/v1/genesis.proto
  proto/ibc/lightclients/wasm/v1/query.proto
  proto/ibc/lightclients/wasm/v1/tx.proto
  proto/ibc/lightclients/wasm/v1/wasm.proto
  testing/coordinator.go
  testing/endpoint.go
Labels: 08-wasm

#4130 imp: disallow submessage execution
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/errors.go
Labels: 08-wasm

#4131 imp: use sudo instead execute when calling contracts
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#4147 add helper function to clear state stored during an upgrade
  modules/core/04-channel/keeper/upgrade.go
Labels: channel-upgradeability

#4144 add `IsUpgradError` func for readability
  modules/core/04-channel/types/upgrade.go
  modules/core/04-channel/types/upgrade_test.go
  modules/core/keeper/msg_server.go
Labels: channel-upgradeability

#4156 add check that channel exists in upgrade gRPCs
  modules/core/04-channel/keeper/grpc_query.go
Labels: channel-upgradeability

#4172 Fix wrapf warning after Pinning
  modules/light-clients/08-wasm/keeper/keeper.go
Labels: 08-wasm

#4146 make connection lookup calls consistent in 04-channel
  modules/core/04-channel/keeper/upgrade.go
Labels: channel-upgradeability

#4171 Use hasConsensusState instead of GetConsensusState
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/upgrade.go
Labels: 08-wasm

#4169 docs: ica tx encoding documentation added
  docs/.vuepress/config.js
  docs/apps/interchain-accounts/active-channels.md
  docs/apps/interchain-accounts/client.md
  docs/apps/interchain-accounts/tx-encoding.md
  modules/apps/27-interchain-accounts/host/client/cli/tx.go
Labels: docs, 27-interchain-accounts, backport-to-v7.3.x

#4196 use collections contains when checking client type is in allow list
  modules/core/02-client/types/params.go
Labels: code hygiene

#4110 Remove Version interface and casting functions from 03-connection
  docs/ibc/light-clients/localhost/connection.md
  modules/core/03-connection/keeper/grpc_query_test.go
  modules/core/03-connection/keeper/handshake.go
  modules/core/03-connection/keeper/handshake_test.go
  modules/core/03-connection/keeper/keeper.go
  modules/core/03-connection/keeper/keeper_test.go
  modules/core/03-connection/simulation/decoder_test.go
  modules/core/03-connection/types/codec.go
  modules/core/03-connection/types/connection.go
  modules/core/03-connection/types/version.go
  modules/core/03-connection/types/version_test.go
  modules/core/exported/connection.go
  modules/core/keeper/msg_server.go
  modules/light-clients/09-localhost/client_state_test.go
  testing/values.go
Labels: core, 03-connection, api breaking

#4187 imp(apps): added 'WithICS4Wrapper' function to keepers
  modules/apps/27-interchain-accounts/controller/keeper/export_test.go
  modules/apps/27-interchain-accounts/controller/keeper/keeper.go
  modules/apps/27-interchain-accounts/controller/keeper/keeper_test.go
  modules/apps/27-interchain-accounts/host/keeper/export_test.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/keeper_test.go
  modules/apps/29-fee/keeper/export_test.go
  modules/apps/29-fee/keeper/keeper.go
  modules/apps/29-fee/keeper/keeper_test.go
  modules/apps/transfer/keeper/export_test.go
  modules/apps/transfer/keeper/keeper.go
  modules/apps/transfer/keeper/keeper_test.go
Labels: backport-to-v7.3.x, adr8

#4188 feat(core, apps): 'PacketDataUnmarshaler' interface added and implemented
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/29-fee/ibc_middleware_test.go
  modules/apps/29-fee/types/errors.go
  modules/apps/transfer/ibc_module.go
  modules/apps/transfer/ibc_module_test.go
  modules/core/05-port/types/module.go
  testing/mock/ibc_module.go
Labels: backport-to-v7.3.x, adr8
