Repository cosmos/ibc-go, pull requests merged in 2023-10, with the labels that each got.

#4801 fix: rm dependency on 08-wasm in ibc-go
  README.md
  go.mod
  go.sum
  modules/core/02-client/keeper/keeper.go
  modules/core/02-client/keeper/keeper_test.go
  modules/core/03-connection/keeper/handshake.go
  modules/core/03-connection/keeper/verify_test.go
  modules/core/03-connection/types/expected_keepers.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/genesis_test.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade_test.go
  testing/endpoint.go
  testing/wasm.go
Labels: 08-wasm

#4750 imp: remove unused fields, functions of contract result
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/contract_api.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/upgrade.go
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#4811 imp!: use expected interface for legacy params subspace
  modules/apps/27-interchain-accounts/controller/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/types/expected_keepers.go
  modules/apps/transfer/keeper/keeper.go
  modules/apps/transfer/types/expected_keepers.go
  modules/core/02-client/keeper/keeper.go
  modules/core/02-client/types/expected_keepers.go
  modules/core/03-connection/keeper/keeper.go
  modules/core/03-connection/types/expected_keepers.go
  modules/core/keeper/keeper.go
  modules/core/types/expected_interfaces.go
Labels: backport-to-v8.0.x

#4804 feat: add mockVM for wasm clients testing
  .github/workflows/wasm-client.yml
  e2e/tests/transfer/authz_test.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/testing/simapp/simd/cmd/root.go
  modules/light-clients/08-wasm/testing/wasm_endpoint.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/vm.go
  testing/chain.go
  testing/config.go
  testing/endpoint.go
Labels: 08-wasm

#4816 doc: adding migration doc info for nil legacy subspace
  docs/docs/05-migrations/11-v7-to-v8.md
Labels: v8

#4833 fix: init function
  modules/light-clients/08-wasm/types/types_test.go
Labels: 08-wasm

#4857 Bump wasmvm to 1.4.1
  modules/light-clients/08-wasm/go.mod
  modules/light-clients/08-wasm/go.sum
Labels: 08-wasm

#4876 Fixing compatibility tests for v8
  e2e/semverutil/semver.go
  e2e/testvalues/values.go
Labels: v8

#4851 Store code before creating a wasm client.
  modules/light-clients/08-wasm/testing/wasm_endpoint.go
  modules/light-clients/08-wasm/types/types_test.go
Labels: 08-wasm

#4853 Add test for types registered in 08-wasm.
  modules/light-clients/08-wasm/types/codec_test.go
Labels: 08-wasm

#4891 Remove codeHash const from types_test, use wasmtesting.
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/types_test.go
Labels: 08-wasm

#4888 Add checks in ValidateBasic for StoreCode
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/msgs.go
  modules/light-clients/08-wasm/types/msgs_test.go
Labels: 08-wasm

#4292 Only store code hashes in store.
  modules/light-clients/08-wasm/client/cli/query.go
  modules/light-clients/08-wasm/internal/ibcwasm/expected_interfaces.go
  modules/light-clients/08-wasm/internal/ibcwasm/wasm.go
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/genesis_test.go
  modules/light-clients/08-wasm/keeper/grpc_query.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/events.go
  modules/light-clients/08-wasm/types/keys.go
  modules/light-clients/08-wasm/types/mock_engine_test.go
  modules/light-clients/08-wasm/types/query.pb.go
  modules/light-clients/08-wasm/types/query.pb.gw.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/wasm.go
  modules/light-clients/08-wasm/types/wasm.pb.go
  modules/light-clients/08-wasm/types/wasm_test.go
  proto/ibc/lightclients/wasm/v1/query.proto
  proto/ibc/lightclients/wasm/v1/wasm.proto
Labels: 08-wasm

#4812 chore: fixes for legacy amino encoding for ledger signing
  modules/apps/29-fee/module.go
  modules/apps/29-fee/types/codec.go
  modules/apps/29-fee/types/tx.pb.go
  modules/apps/transfer/types/codec.go
  modules/apps/transfer/types/tx.pb.go
  proto/ibc/applications/fee/v1/tx.proto
  proto/ibc/applications/transfer/v1/tx.proto
Labels: v8, backport-to-v8.0.x

#4897 Add mapping for sudo payloads callbacks in mockVM
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/mock_engine_test.go
Labels: 08-wasm

#4896 Add test case for invalid Initialize call due to unstored contract.
  modules/light-clients/08-wasm/types/client_state_test.go
Labels: 08-wasm

#4902 imp(08-wasm): exported contract responses to tests
  modules/light-clients/08-wasm/types/export_test.go
Labels: 08-wasm

#4907 fix(08-wasm): removed panic in `CheckForMisbehaviour`
  modules/light-clients/08-wasm/types/misbehaviour_handle.go
Labels: 08-wasm

#4910 Use the Response types in TestStatus.
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/types_test.go
Labels: 08-wasm

#4911 Remove GetSigners from StoreCode msg.
  modules/light-clients/08-wasm/types/msgs.go
  modules/light-clients/08-wasm/types/msgs_test.go
Labels: 08-wasm

#4909 fix(08-wasm)!: use concrete types for json serialization
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/contract_api.go
  modules/light-clients/08-wasm/types/upgrade.go
Labels: 08-wasm

#4920 fix: handle export type values correctly
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/types_test.go
Labels: testing, 08-wasm

#4933 docs: add google analytics 4 support
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: docs

#4901 test: add test for `CheckForMisbehaviour` payload using mock vm
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/types_test.go
Labels: testing, 08-wasm

#4935 docs: add microsoft clarity support
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: docs

#4921 test: `VerifyClientMessage` using mockVM
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
Labels: testing, 08-wasm

#4923 test: adding `VerifyMembership` tests with mock wasm engine
  e2e/tests/wasm/grandpa_test.go
  modules/light-clients/08-wasm/types/client_state_test.go
Labels: testing, 08-wasm

#4914 test(08-wasm): added 'TestUpdateState' using mockVM
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/update_test.go
Labels: testing, 08-wasm

#4940 Add additional coverage for test initialize.
  modules/light-clients/08-wasm/types/client_state_test.go
Labels: testing, 08-wasm

#4930 Add mock test for VerifyUpgradeAndUpdateState
  modules/light-clients/08-wasm/types/upgrade_test.go
Labels: 08-wasm

#4919 test: `UpdateStateOnMisbehaviour` using mock wasmVM
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/update_test.go
Labels: testing, 08-wasm

#4948 imp(08-wasm): removed panic in `GetCodeHash` and `AddCodeHash`
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/genesis_test.go
  modules/light-clients/08-wasm/keeper/grpc_query.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/wasm.go
  modules/light-clients/08-wasm/types/wasm_test.go
Labels: 08-wasm

#4944 fix(msg): register proto interface
  modules/apps/27-interchain-accounts/controller/types/codec.go
Labels: backport-to-v7.3.x, backport-to-v8.0.x

#4956 Add mock height and check for it in membership tests
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/client_state_test.go
  testing/mock/mock.go
Labels: 08-wasm

#4960 Add test for GetTimestampAtHeight
  modules/light-clients/08-wasm/types/client_state_test.go
Labels: 08-wasm

#4957 Remove panic handling testing code for non-panicking methods.
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
Labels: 08-wasm

#4959 Update Grandpa Contract Test to work with SDK v0.50
  .github/workflows/e2e.yaml
  .github/workflows/test.yml
  Makefile
  e2e/go.mod
  e2e/go.sum
  e2e/relayer/relayer.go
  e2e/sample.config.yaml
  e2e/scripts/run-e2e.sh
  e2e/tests/core/02-client/client_test.go
  e2e/tests/data/ics10_grandpa_cw.wasm
  e2e/tests/interchain_accounts/base_test.go
  e2e/tests/interchain_accounts/gov_test.go
  e2e/tests/interchain_accounts/groups_test.go
  e2e/tests/interchain_accounts/incentivized_test.go
  e2e/tests/interchain_accounts/localhost_test.go
  e2e/tests/interchain_accounts/params_test.go
  e2e/tests/transfer/base_test.go
  e2e/tests/upgrades/genesis_test.go
  e2e/tests/upgrades/upgrade_test.go
  e2e/tests/wasm/grandpa_test.go
  e2e/testsuite/codec.go
  e2e/testsuite/grpc_query.go
  e2e/testsuite/testconfig.go
  e2e/testsuite/testsuite.go
  e2e/testsuite/tx.go
  e2e/testvalues/values.go
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
  modules/light-clients/06-solomachine/module.go
  modules/light-clients/07-tendermint/module.go
  modules/light-clients/08-wasm/go.mod
  modules/light-clients/08-wasm/go.sum
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/testing/simapp/simd/cmd/root.go
  proto/ibc/lightclients/wasm/v1/tx.proto
  scripts/go-mod-tidy-all.sh
  testing/mock/mock.go
Labels: 08-wasm

#4961 Add mock test for ExportMetadata
  modules/light-clients/08-wasm/types/genesis_test.go
Labels: 08-wasm

#4939 feat(08-wasm): use 'clientID' as contract address
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/errors.go
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/store_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#4936 Move mock engine into testing.
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/genesis_test.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade_test.go
Labels: 08-wasm

#4969 Register message service descriptor for host
  modules/apps/27-interchain-accounts/host/types/codec.go
Labels: backport-to-v7.3.x, backport-to-v8.0.x

#4979 docs: fee middleware tutorial improvements
  docs/tutorials/01-fee/01-intro.md
  docs/tutorials/01-fee/02-setup-env.md
  docs/tutorials/01-fee/04-wire-feeibc-mod.md
  docs/tutorials/01-fee/07-test-app.md
Labels: docs

#4976 deps: bump Cosmos SDK to tip of `release/v0.50.x`
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
  modules/apps/callbacks/testing/simapp/app.go
  modules/light-clients/06-solomachine/module.go
  modules/light-clients/07-tendermint/module.go
  testing/mock/mock.go
  testing/simapp/app.go
Labels: backport-to-v8.0.x

#4974 imp: `CheckSubstituteAndUpdateState` for 08-wasm client
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/contract_api.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade_test.go
Labels: 08-wasm

#4989 Delete commented out test TestVerifyHeaderTendermint
  modules/light-clients/08-wasm/types/update_test.go
Labels: 08-wasm

#4990 Remove store-code command
  modules/light-clients/08-wasm/client/cli/cli.go
  modules/light-clients/08-wasm/client/cli/tx.go
Labels: 08-wasm

#4950 Add mock test for CheckSubstituteAndUpdateState.
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
Labels: 08-wasm

#4973 refactor(08-wasm)!: use `collections.KeySet` for code hashes
  modules/light-clients/08-wasm/go.mod
  modules/light-clients/08-wasm/internal/ibcwasm/wasm.go
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/genesis_test.go
  modules/light-clients/08-wasm/keeper/grpc_query.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/keys.go
  modules/light-clients/08-wasm/types/query.pb.go
  modules/light-clients/08-wasm/types/query.pb.gw.go
  modules/light-clients/08-wasm/types/wasm.go
  modules/light-clients/08-wasm/types/wasm.pb.go
  modules/light-clients/08-wasm/types/wasm_test.go
  proto/ibc/lightclients/wasm/v1/query.proto
  proto/ibc/lightclients/wasm/v1/wasm.proto
Labels: 08-wasm

#4898 Modify wrappedStore to allow reads from both substitute and subject, writes only to subject
  modules/light-clients/08-wasm/types/export_test.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/store_test.go
Labels: 08-wasm

#4996 Remove grandpa unit tests covered by e2e.
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/update_test.go
Labels: 08-wasm
