Repository cosmos/ibc-go, pull requests merged in 2023-08, with the labels that each got.

#4033 imp: delegate store operation of `clientState` and `consensusState` in `initialize` to contract
  modules/light-clients/08-wasm/test_data/ics07_tendermint_cw.wasm.gz
  modules/light-clients/08-wasm/test_data/ics10_grandpa_cw.wasm.gz
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#4034 imp: remove `timestamp` from `consensusState` and query contract to retrieve it
  modules/core/02-client/keeper/keeper.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/consensus_state.go
  modules/light-clients/08-wasm/types/genesis.go
  modules/light-clients/08-wasm/types/misbehaviour_handle.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade.go
  modules/light-clients/08-wasm/types/upgrade_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/wasm.pb.go
  proto/ibc/lightclients/wasm/v1/wasm.proto
  testing/endpoint.go
Labels: 08-wasm

#4199 feat(core, apps): 'PacketDataProvider' interface added and implemented
  modules/apps/27-interchain-accounts/types/packet.go
  modules/apps/27-interchain-accounts/types/packet_test.go
  modules/apps/transfer/types/packet.go
  modules/apps/transfer/types/packet_test.go
  modules/core/exported/channel.go
  modules/core/exported/packet.go
Labels: backport-to-v7.3.x, adr8

#4200 feat(core, apps): 'PacketData' interface added and implemented
  modules/apps/27-interchain-accounts/types/packet.go
  modules/apps/27-interchain-accounts/types/packet_test.go
  modules/apps/transfer/types/packet.go
  modules/apps/transfer/types/packet_test.go
  modules/core/exported/packet.go
Labels: backport-to-v7.3.x, adr8

#4133 imp: add query and sudo message types to encapsulate all variants of calls
  modules/light-clients/08-wasm/types/client_message.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/contract_api.go
  modules/light-clients/08-wasm/types/errors.go
  modules/light-clients/08-wasm/types/genesis.go
  modules/light-clients/08-wasm/types/misbehaviour_handle.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/upgrade.go
  modules/light-clients/08-wasm/types/vm.go
  proto/ibc/lightclients/wasm/v1/wasm.proto
Labels: 08-wasm

#4109 add 08-wasm Keeper constructor that accepts pointer to Wasm VM instance
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/types/config.go
  modules/light-clients/08-wasm/types/vm.go
  testing/simapp/app.go
Labels: 08-wasm

#4300 Add FLUSHING/FLUSHCOMPLETE to Channel state.
  modules/core/04-channel/types/channel.pb.go
  proto/ibc/core/channel/v1/channel.proto
Labels: channel-upgradeability

#4294 Delete counterparty upgrade in deleteUpgradeInfo
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4301 Remove check for counterparty timeout in ChanUpgradeTry.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability

#4299 Store counterparty upgrade after ack finishes.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server.go
Labels: channel-upgradeability

#4310 call verification of counterparty channel, upgrade in upgradetry.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4312 Add verification calls for Upgrade, Channel in ChanUpgradeAck.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4314 Add ChanUpgradeConfirm to endpoint.
  testing/endpoint.go
Labels: channel-upgradeability

#3939 feat(callbacks): adr8 implementation
  .github/CODEOWNERS
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/27-interchain-accounts/controller/keeper/keeper_test.go
  modules/apps/29-fee/ibc_middleware_test.go
  modules/apps/callbacks/callbacks_test.go
  modules/apps/callbacks/export_test.go
  modules/apps/callbacks/fee_transfer_test.go
  modules/apps/callbacks/ibc_middleware.go
  modules/apps/callbacks/ibc_middleware_test.go
  modules/apps/callbacks/ica_test.go
  modules/apps/callbacks/transfer_test.go
  modules/apps/callbacks/types/callbacks.go
  modules/apps/callbacks/types/callbacks_test.go
  modules/apps/callbacks/types/errors.go
  modules/apps/callbacks/types/events.go
  modules/apps/callbacks/types/events_test.go
  modules/apps/callbacks/types/expected_keepers.go
  modules/apps/callbacks/types/export_test.go
  modules/apps/callbacks/types/keys.go
  modules/apps/callbacks/types/types_test.go
  modules/apps/transfer/keeper/keeper_test.go
  testing/mock/contract_keeper.go
  testing/mock/mock.go
  testing/simapp/app.go
Labels: adr8

#4279 Clean up vm entry points
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/update.go
  modules/light-clients/08-wasm/types/upgrade.go
  modules/light-clients/08-wasm/types/vm.go
Labels: 08-wasm

#4343 imp(callbacks): remove reconstructed packet logic from 'SendPacket'
  modules/apps/callbacks/callbacks_test.go
  modules/apps/callbacks/export_test.go
  modules/apps/callbacks/fee_transfer_test.go
  modules/apps/callbacks/ibc_middleware.go
  modules/apps/callbacks/ibc_middleware_test.go
  modules/apps/callbacks/ica_test.go
  modules/apps/callbacks/testing/simapp/app.go
  modules/apps/callbacks/types/callbacks.go
  modules/apps/callbacks/types/callbacks_test.go
  modules/apps/callbacks/types/events.go
  modules/apps/callbacks/types/events_test.go
  modules/apps/callbacks/types/export_test.go
Labels: adr8

#4305 Check counterparty timeout hasn't elapsed in ChanUpgradeAck.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4320 Move check to fail on incompatible upgrade after proof verification.
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability

#4303 Add WriteUpgradeConfirm function.
  modules/core/04-channel/keeper/events.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/types/events.go
Labels: channel-upgradeability

#4369 Make linter happy for 08-wasm
  modules/light-clients/08-wasm/client/cli/tx.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/module.go
  modules/light-clients/08-wasm/types/client_message.go
  modules/light-clients/08-wasm/types/client_state.go
  modules/light-clients/08-wasm/types/consensus_state.go
  modules/light-clients/08-wasm/types/proposal_handle.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/validation_test.go
Labels: 08-wasm

#4384 Remove check on flush status for send packet.
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
Labels: channel-upgradeability

#4379 Channel Upgrade Open
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability

#4232 refactor(ica): packet data unmarshaling logic refactored
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/host/keeper/relay.go
  modules/apps/27-interchain-accounts/types/packet.go
  modules/apps/27-interchain-accounts/types/packet_test.go
Labels: 27-interchain-accounts

#4381 test(callbacks): checking that processCallback consumes gas
  modules/apps/callbacks/ibc_middleware_test.go
Labels: testing, callbacks middleware

#4358 docs(callbacks): added godocs for defensive send packet validation
  modules/apps/callbacks/types/expected_keepers.go
Labels: audit, callbacks middleware

#4411 Add UpgradeTimeout as a params field in the channel submodule
  modules/core/04-channel/genesis.go
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/keeper_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/types/channel.pb.go
  modules/core/04-channel/types/codec.go
  modules/core/04-channel/types/genesis.go
  modules/core/04-channel/types/genesis.pb.go
  modules/core/04-channel/types/genesis_test.go
  modules/core/04-channel/types/keys.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/params.go
  modules/core/04-channel/types/tx.pb.go
  modules/core/genesis_test.go
  modules/core/keeper/msg_server.go
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/tx.proto
Labels: channel-upgradeability

#4375 test(callbacks): simplified mock contract keeper's processCallback logic
  modules/apps/callbacks/fee_transfer_test.go
  modules/apps/callbacks/ibc_middleware_test.go
  modules/apps/callbacks/ica_test.go
  modules/apps/callbacks/testing/simapp/contract_keeper.go
  modules/apps/callbacks/transfer_test.go
Labels: testing, callbacks middleware

#4406 Support e2e tests for callback module SimApp
  .github/workflows/build-callbacks-simd-image-from-tag.yml
  modules/apps/callbacks/Dockerfile
  modules/apps/callbacks/testing/simapp/README.md
  modules/apps/callbacks/testing/simapp/simd/cmd/root.go
  modules/apps/callbacks/testing/simapp/simd/main.go
Labels: github_actions, e2e, callbacks middleware

#4435 docs: add docs for PacketData, PacketDataProvider, and PacketDataUnmarshaler interfaces
  docs/ibc/apps/ibcmodule.md
  docs/ibc/apps/packets_acks.md
Labels: docs, backport-to-v7.3.x, adr8

#4400 test(callbacks): checking that expected events are emitted
  modules/apps/callbacks/callbacks_test.go
  modules/apps/callbacks/ibc_middleware_test.go
  modules/apps/callbacks/types/events_test.go
Labels: testing, callbacks middleware

#4439 refactor: use `expResult` in acknowledgePacket tests
  modules/core/04-channel/keeper/packet_test.go
Labels: channel-upgradeability

#4438 Implement ChanUpgradeTimeout with spec changes
  modules/core/04-channel/keeper/events.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/errors.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
  modules/core/keeper/msg_server.go
Labels: channel-upgradeability

#4429 fix(statemachine)!: use path within IBC store without escaping characters in solomachine
  modules/core/23-commitment/types/merkle.go
  modules/core/exported/commitment.go
  modules/light-clients/06-solomachine/client_state.go
  modules/light-clients/06-solomachine/client_state_test.go
  modules/light-clients/07-tendermint/upgrade.go
  testing/solomachine.go
Labels: backport-to-v7.3.x

#4451 Update error receipt event emission to use correct event type
  modules/core/04-channel/keeper/events.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/events.go
Labels: channel-upgradeability

#4425 Account for moving channel state to flush complete in timeout processing
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
Labels: 04-channel, channel-upgradeability

#4370 docs: documentation added for callbacks middleware
  docs/.vuepress/config.js
  docs/assets/callbacks-mw/callbackflow.svg
  docs/assets/callbacks-mw/ics4-callbackflow.svg
  docs/middleware/callbacks/end-users.md
  docs/middleware/callbacks/events.md
  docs/middleware/callbacks/gas.md
  docs/middleware/callbacks/integration.md
  docs/middleware/callbacks/interfaces.md
  docs/middleware/callbacks/overview.md
Labels: docs, backport-to-v7.3.x, callbacks middleware

#4367 Amend timeoutPacket to allow timeouts on any channel state.
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
Labels: channel-upgradeability

#4462 nit(callbacks): removed unused parameters in testing functions
  modules/apps/callbacks/fee_transfer_test.go
  modules/apps/callbacks/ica_test.go
  modules/apps/callbacks/transfer_test.go
Labels: testing, callbacks middleware

#4471 Refactor recvPacket tests to use expError.
  modules/core/04-channel/keeper/packet_test.go
Labels: channel-upgradeability

#4473 refactor: remove counterparty last sequence send state entry
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/24-host/channel_keys.go
Labels: channel-upgradeability

#4465 feat: add logging for noop messages
  modules/core/keeper/msg_server.go
Labels: v8

#4495 Don't write channel to state when not modified.
  modules/core/04-channel/keeper/upgrade.go
Labels: channel-upgradeability

#4488 refactor: rename channel upgradability flush states
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/channel.pb.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  proto/ibc/core/channel/v1/channel.proto
Labels: channel-upgradeability

#4486 chore: rename `authority` to `signer` in `MsgUpdateParams`
  docs/apps/transfer/params.md
  docs/ibc/light-clients/setup.md
  e2e/tests/interchain_accounts/params_test.go
  modules/apps/27-interchain-accounts/controller/keeper/msg_server.go
  modules/apps/27-interchain-accounts/controller/keeper/msg_server_test.go
  modules/apps/27-interchain-accounts/controller/types/msgs.go
  modules/apps/27-interchain-accounts/controller/types/msgs_test.go
  modules/apps/27-interchain-accounts/controller/types/tx.pb.go
  modules/apps/27-interchain-accounts/host/keeper/msg_server.go
  modules/apps/27-interchain-accounts/host/keeper/msg_server_test.go
  modules/apps/27-interchain-accounts/host/types/msgs.go
  modules/apps/27-interchain-accounts/host/types/msgs_test.go
  modules/apps/27-interchain-accounts/host/types/tx.pb.go
  modules/apps/transfer/keeper/msg_server.go
  modules/apps/transfer/keeper/msg_server_test.go
  modules/apps/transfer/types/msgs.go
  modules/apps/transfer/types/msgs_test.go
  modules/apps/transfer/types/tx.pb.go
  modules/core/02-client/types/msgs.go
  modules/core/02-client/types/msgs_test.go
  modules/core/02-client/types/tx.pb.go
  modules/core/03-connection/types/msgs.go
  modules/core/03-connection/types/msgs_test.go
  modules/core/03-connection/types/tx.pb.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  proto/ibc/applications/interchain_accounts/controller/v1/tx.proto
  proto/ibc/applications/interchain_accounts/host/v1/tx.proto
  proto/ibc/applications/transfer/v1/tx.proto
  proto/ibc/core/client/v1/tx.proto
  proto/ibc/core/connection/v1/tx.proto
Labels: v8

#4492 Don't emit event information for unchanged upgrade.
  modules/core/04-channel/keeper/events.go
Labels: channel-upgradeability

#4480 Allow receiving of packets if the counterparty latest sequence send has not been set
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
Labels: channel-upgradeability

#4483 fix(testing): use the correct revision height when querying trusted validator set
  testing/chain.go
Labels: backport-to-v7.2.x, backport-to-v7.3.x

#4502 docs: migration docs for v7.3
  docs/.vuepress/config.js
  docs/migrations/v7_2-to-v7_3.md
Labels: backport-to-v7.3.x

#4479 Refactor recvPacket tests to use expError. (#4471)
  modules/core/04-channel/keeper/packet_test.go
Labels: testing

#4491 tests: adding followup tests for in-flight packets on chanUpgradeConfirm
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability

#4475 Timing out packets on ordered channels when in flushing state aborts upgrade and closes channel
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
Labels: channel-upgradeability

#3282 e2e: add export genesis e2e
  e2e/tests/upgrades/genesis_test.go
Labels: e2e

#4517 chore: adding callbacks/release/v0.1.x+ibc-go-v7.3.x backport action to mergify
  .github/mergify.yml
Labels: github_actions

#4516 docs(callbacks): improved godocs for ContractKeeper state reversion
  docs/middleware/callbacks/interfaces.md
  modules/apps/callbacks/types/expected_keepers.go
Labels: docs, callbacks middleware, backport-callbacks-to-v0.1.x+ibc-go-v7.3.x

#4503 Add implementation for recover client on message server.
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
Labels: v8

#4528 deps(callbacks): ran 'go mod tidy'
  modules/apps/callbacks/go.mod
Labels: dependencies, callbacks middleware

#4519 docs: move capability modules's readme to docs
  docs/.vuepress/config.js
  docs/ibc/capability-module.md
Labels: docs, v8

#4485 testing: e2e support for sdkv50
  .github/workflows/e2e.yaml
  e2e/go.mod
  e2e/go.sum
  e2e/relayer/relayer.go
  e2e/tests/core/02-client/client_test.go
  e2e/tests/interchain_accounts/incentivized_test.go
  e2e/tests/interchain_accounts/intertx_incentivized_test.go
  e2e/tests/transfer/incentivized_test.go
  e2e/testsuite/grpc_query.go
  e2e/testsuite/testconfig.go
  e2e/testsuite/tx.go
  go.mod
  go.sum
  modules/apps/callbacks/go.mod
  modules/apps/callbacks/go.sum
  modules/apps/callbacks/ibc_middleware_test.go
  testing/simapp/export.go
Labels: v8
