Repository cosmos/ibc-go, pull requests merged in 2024-01, with the labels that each got.

#5489 chore: remove `syncUpgradeSequence`
  modules/core/04-channel/keeper/export_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: backport-to-v8.1.x

#5507 docs(deps): upgraded docusaurus to v3
  docs/architecture/adr.template.md
  docs/dev/development-setup.md
  docs/docs/01-ibc/03-apps/01-apps.md
  docs/docs/02-apps/01-transfer/05-events.md
  docs/docs/02-apps/02-interchain-accounts/10-legacy/01-auth-modules.md
  docs/docs/03-light-clients/04-wasm/01-overview.md
  docs/docs/03-light-clients/04-wasm/02-concepts.md
  docs/docs/03-light-clients/04-wasm/03-integration.md
  docs/docs/03-light-clients/04-wasm/05-governance.md
  docs/docs/03-light-clients/04-wasm/06-events.md
  docs/docs/03-light-clients/04-wasm/07-contracts.md
  docs/docs/04-middleware/01-ics29-fee/05-events.md
  docs/docs/04-middleware/02-callbacks/01-overview.md
  docs/docs/04-middleware/02-callbacks/02-integration.md
  docs/docs/05-migrations/migration.template.md
  docs/docusaurus.config.js
  docs/events/events.md
  docs/package-lock.json
  docs/package.json
  docs/requirements/ics27-requirements.md
  docs/tutorials/01-fee/03-scaffold-chain.md
  docs/tutorials/01-fee/05-scaffold-react.md
  docs/versioned_docs/version-v4.5.x/02-apps/01-transfer/05-events.md
  docs/versioned_docs/version-v4.5.x/02-apps/02-interchain-accounts/02-auth-modules.md
  docs/versioned_docs/version-v4.5.x/03-middleware/01-ics29-fee/05-events.md
  docs/versioned_docs/version-v5.3.x/02-apps/01-transfer/05-events.md
  docs/versioned_docs/version-v5.3.x/02-apps/02-interchain-accounts/02-auth-modules.md
  docs/versioned_docs/version-v5.3.x/03-middleware/01-ics29-fee/05-events.md
  docs/versioned_docs/version-v6.2.x/02-apps/01-transfer/05-events.md
  docs/versioned_docs/version-v6.2.x/02-apps/02-interchain-accounts/09-legacy/01-auth-modules.md
  docs/versioned_docs/version-v6.2.x/03-middleware/01-ics29-fee/05-events.md
  docs/versioned_docs/version-v7.3.x/02-apps/01-transfer/05-events.md
  docs/versioned_docs/version-v7.3.x/02-apps/02-interchain-accounts/10-legacy/01-auth-modules.md
  docs/versioned_docs/version-v7.3.x/03-light-clients/04-wasm/01-overview.md
  docs/versioned_docs/version-v7.3.x/03-light-clients/04-wasm/02-concepts.md
  docs/versioned_docs/version-v7.3.x/03-light-clients/04-wasm/03-integration.md
  docs/versioned_docs/version-v7.3.x/03-light-clients/04-wasm/05-governance.md
  docs/versioned_docs/version-v7.3.x/03-light-clients/04-wasm/06-events.md
  docs/versioned_docs/version-v7.3.x/03-light-clients/04-wasm/07-contracts.md
  docs/versioned_docs/version-v7.3.x/04-middleware/01-ics29-fee/05-events.md
  docs/versioned_docs/version-v7.3.x/04-middleware/02-callbacks/01-overview.md
  docs/versioned_docs/version-v7.3.x/04-middleware/02-callbacks/02-integration.md
  docs/versioned_docs/version-v8.0.x/01-ibc/03-apps/01-apps.md
  docs/versioned_docs/version-v8.0.x/02-apps/01-transfer/05-events.md
  docs/versioned_docs/version-v8.0.x/02-apps/02-interchain-accounts/10-legacy/01-auth-modules.md
  docs/versioned_docs/version-v8.0.x/03-light-clients/04-wasm/01-overview.md
  docs/versioned_docs/version-v8.0.x/03-light-clients/04-wasm/02-concepts.md
  docs/versioned_docs/version-v8.0.x/03-light-clients/04-wasm/03-integration.md
  docs/versioned_docs/version-v8.0.x/03-light-clients/04-wasm/05-governance.md
  docs/versioned_docs/version-v8.0.x/03-light-clients/04-wasm/06-events.md
  docs/versioned_docs/version-v8.0.x/03-light-clients/04-wasm/07-contracts.md
  docs/versioned_docs/version-v8.0.x/04-middleware/01-ics29-fee/05-events.md
  docs/versioned_docs/version-v8.0.x/04-middleware/02-callbacks/01-overview.md
  docs/versioned_docs/version-v8.0.x/04-middleware/02-callbacks/02-integration.md
  docs/versioned_docs/version-v8.0.x/05-migrations/migration.template.md
Labels: docs, dependencies

#5506 Document ibc app expectations and recommendations
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: docs, channel-upgradeability

#5488 fix: return bool in `GetPruningSequenceStart`
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/keeper_test.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5508 Improve testing for `PruneAcknowledgements` rpc
  modules/core/04-channel/keeper/keeper_test.go
  modules/core/keeper/msg_server_test.go
Labels: testing, channel-upgradeability, backport-to-v8.1.x

#5502 Add missing channel upgrade tests
  modules/apps/transfer/ibc_module_test.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
  modules/core/04-channel/types/params.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5503 docs: added section on hermes' fee based packet filtering
  docs/tutorials/01-fee/02-setup-env.md
  docs/tutorials/01-fee/08-packet-filter.md
Labels: docs

#5405 feat: Removing restorechannel and adding SetUpgradeErrorReceipt
  modules/core/03-connection/keeper/verify_test.go
  modules/core/04-channel/keeper/export_test.go
  modules/core/04-channel/keeper/grpc_query_test.go
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/keeper_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5472 refactor: use explicit checks in ica controller upgrade handlers
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake_test.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5516 docs: updated version docs banners
  docs/docusaurus.config.js
  docs/versioned_docs/version-v6.2.x/00-intro.md
  docs/versioned_sidebars/version-v4.5.x-sidebars.json
Labels: docs

#5521 docs: added sitemap support to docs
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: docs

#5348 docs: channel upgrades packet flushing
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: docs, channel-upgradeability

#5474 Improving docstrings for UpgradableModule interface
  docs/docs/01-ibc/06-channel-upgrades.md
  modules/core/05-port/types/module.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5406 test: add mock middleware to block app upgrades and provide test coverage in core
  modules/core/keeper/msg_server_test.go
  testing/mock/middleware.go
  testing/simapp/app.go
Labels: channel-upgradeability

#5515 chore: missing upgrade msgs assertions
  modules/core/04-channel/types/msgs.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5532 feat: removed verifychannelupgradeErrorAbsence from the 03-connection
  modules/core/03-connection/keeper/verify.go
  modules/core/03-connection/keeper/verify_test.go
  modules/core/04-channel/types/expected_keepers.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5475 test: add unit tests for channel upgrade event emission
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5548 Add cli to submit gov proposal to upgrade multiple channels
  modules/core/04-channel/client/cli/cli.go
  modules/core/04-channel/client/cli/tx.go
Labels: channel-upgradeability

#5536 e2e(upgrades): upgrade ACK fails because counterparty upgrade timeout already passed
  e2e/tests/core/04-channel/upgrades_test.go
  e2e/testsuite/grpc_query.go
Labels: e2e, channel-upgradeability, priority

#5519 add explicit checks in `OnChanUpgradeTry` callback of ICA host
  modules/apps/27-interchain-accounts/host/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/keeper/handshake_test.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/types/metadata.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5510 Docs for MsgPruneAcknowledgement
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: docs, channel-upgradeability

#5504 Add section about wiring up fee middleware and executing gov proposal
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: docs, channel-upgradeability

#5546 docs: channel upgrade timeout
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: channel-upgradeability

#5549 test: event emission on writing error receipts for channel upgrades
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability, priority, backport-to-v8.1.x

#5559 fix: add packet seq in success log
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/transfer/ibc_module.go
Labels: backport-to-v7.2.x, backport-to-v7.3.x, backport-to-v8.0.x, backport-to-v8.1.x

#5541 imp(core): allow huckleberry events with a prefix
  modules/core/keeper/events_test.go
  modules/core/keeper/export_test.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  modules/core/types/events.go
  testing/mock/events.go
  testing/mock/ibc_module.go
Labels: core, backport-to-v7.2.x, backport-to-v7.3.x, backport-to-v8.0.x, backport-to-v8.1.x

#5572 refactor: use timeout type when possible
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: code hygiene, backport-to-v8.1.x

#5512 Update parameter names for better readability
  modules/apps/27-interchain-accounts/controller/ibc_middleware.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/ibc_module.go
  modules/apps/27-interchain-accounts/host/keeper/handshake.go
  modules/apps/29-fee/ibc_middleware.go
  modules/apps/callbacks/ibc_middleware.go
  modules/apps/transfer/ibc_module.go
  modules/core/05-port/types/module.go
  testing/mock/ibc_module.go
Labels: channel-upgradeability, backport-to-v8.1.x

#5429 feat(statemachine)!: Add allow all client wildcard to AllowedClients param
  docs/docs/01-ibc/11-troubleshooting.md
  docs/docs/03-light-clients/01-developer-guide/09-setup.md
  docs/docs/03-light-clients/02-localhost/02-integration.md
  docs/docs/03-light-clients/04-wasm/03-integration.md
  docs/params/params.md
  e2e/tests/wasm/grandpa_test.go
  e2e/testsuite/testconfig.go
  e2e/testvalues/values.go
  modules/core/02-client/types/keys.go
  modules/core/02-client/types/params.go
  modules/core/02-client/types/params_test.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/testing/wasm_endpoint.go
  modules/light-clients/08-wasm/types/types_test.go
Labels: backport-to-v8.1.x

#5612 imp: separate height and timestamp attribute in upgrade timeout event
  modules/core/04-channel/keeper/events.go
  modules/core/04-channel/types/events.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability, priority, backport-to-v8.1.x

#5539 remaining review comments from #1613
  e2e/README.md
  e2e/tests/core/04-channel/upgrades_test.go
  e2e/tests/transfer/incentivized_test.go
  e2e/testsuite/grpc_query.go
  e2e/testsuite/tx.go
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/27-interchain-accounts/host/ibc_module_test.go
  modules/core/04-channel/types/msgs.go
Labels: channel-upgradeability, priority, backport-to-v8.1.x

#5618 docs: added a new themed overview image
  docs/docs/00-intro.md
  docs/docs/images/ibcoverview-dark.svg
  docs/docs/images/ibcoverview-light.svg
  docs/docs/images/ibcoverview.png
  docs/src/css/custom.css
Labels: docs

#5599 chore: rename `proofXyz` -> `xyzProof`
  docs/docs/03-light-clients/01-developer-guide/05-upgrades.md
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/27-interchain-accounts/host/ibc_module_test.go
  modules/core/02-client/client/cli/tx.go
  modules/core/02-client/keeper/client.go
  modules/core/02-client/keeper/client_test.go
  modules/core/02-client/types/msgs.go
  modules/core/03-connection/keeper/handshake.go
  modules/core/03-connection/keeper/handshake_test.go
  modules/core/03-connection/keeper/verify.go
  modules/core/03-connection/types/msgs.go
  modules/core/04-channel/keeper/handshake.go
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/timeout_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/expected_keepers.go
  modules/core/04-channel/types/msgs.go
  modules/core/ante/ante_test.go
  modules/core/exported/client.go
  modules/core/keeper/msg_server_test.go
  modules/light-clients/07-tendermint/upgrade.go
  modules/light-clients/07-tendermint/upgrade_test.go
  modules/light-clients/08-wasm/types/upgrade.go
  modules/light-clients/08-wasm/types/upgrade_test.go
  testing/chain.go
  testing/endpoint.go
  testing/solomachine.go
Labels: backport-to-v8.1.x

#5603 chore: remove `upgrade` prefix from upgrade event attributes
  docs/docs/05-migrations/12-v8-to-v9.md
  modules/core/04-channel/keeper/events.go
  modules/core/04-channel/types/events.go
  modules/core/keeper/msg_server_test.go
Labels: channel-upgradeability, priority, backport-to-v8.1.x

#5613 imp(ica/host): removed previous version validation check
  modules/apps/27-interchain-accounts/host/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/keeper/handshake_test.go
Labels: 27-interchain-accounts, state machine breaking, priority

#5616 e2e: ordered ica channel is upgraded to unordered
  e2e/tests/interchain_accounts/base_test.go
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/27-interchain-accounts/host/ibc_module_test.go
Labels: channel-upgradeability, priority

#5566 E2E test where unordered channel is used with ICA
  e2e/tests/interchain_accounts/base_test.go
Labels: priority

#5636 chore: add default upgrade handler for v8.1
  testing/simapp/upgrades.go
  testing/simapp/upgrades/upgrades.go
Labels: priority, backport-to-v8.1.x

#5633 feat(ica): allow unordered ica channels
  docs/docs/02-apps/02-interchain-accounts/01-overview.md
  docs/docs/02-apps/02-interchain-accounts/05-messages.md
  docs/docs/02-apps/02-interchain-accounts/08-client.md
  docs/docs/02-apps/02-interchain-accounts/09-active-channels.md
  e2e/tests/core/04-channel/upgrades_test.go
  e2e/tests/interchain_accounts/base_test.go
  e2e/tests/interchain_accounts/gov_test.go
  e2e/tests/interchain_accounts/groups_test.go
  e2e/tests/interchain_accounts/incentivized_test.go
  e2e/tests/interchain_accounts/localhost_test.go
  e2e/tests/interchain_accounts/params_test.go
  e2e/tests/upgrades/genesis_test.go
  e2e/testsuite/testconfig.go
  modules/apps/27-interchain-accounts/controller/client/cli/tx.go
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/27-interchain-accounts/controller/keeper/account.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake_test.go
  modules/apps/27-interchain-accounts/controller/keeper/msg_server.go
  modules/apps/27-interchain-accounts/controller/keeper/msg_server_test.go
  modules/apps/27-interchain-accounts/controller/types/msgs.go
  modules/apps/27-interchain-accounts/controller/types/msgs_test.go
  modules/apps/27-interchain-accounts/controller/types/tx.pb.go
  modules/apps/27-interchain-accounts/host/ibc_module_test.go
  modules/apps/27-interchain-accounts/host/keeper/handshake.go
  modules/apps/27-interchain-accounts/host/keeper/handshake_test.go
  modules/apps/callbacks/callbacks_test.go
  proto/ibc/applications/interchain_accounts/controller/v1/tx.proto
Labels: 27-interchain-accounts, feature, api breaking, state machine breaking, priority, backport-to-v8.1.x

#5643 docs: added capital efficiency to fee docs
  docs/docs/04-middleware/01-ics29-fee/03-msgs.md
Labels: docs

#5640 Add migration for channel params
  modules/core/04-channel/keeper/migrations.go
  modules/core/04-channel/keeper/migrations_test.go
  modules/core/module.go
Labels: priority, backport-to-v8.1.x

#5665 docs: added docs on denom metadata
  docs/docs/02-apps/01-transfer/01-overview.md
  docs/versioned_docs/version-v8.0.x/02-apps/01-transfer/01-overview.md
Labels: docs

#5674 Rename Order to Ordering for MsgRegisterInterchainAccount.
  docs/docs/02-apps/02-interchain-accounts/05-messages.md
  modules/apps/27-interchain-accounts/controller/client/cli/tx.go
  modules/apps/27-interchain-accounts/controller/keeper/account.go
  modules/apps/27-interchain-accounts/controller/keeper/msg_server.go
  modules/apps/27-interchain-accounts/controller/types/msgs.go
  modules/apps/27-interchain-accounts/controller/types/tx.pb.go
  proto/ibc/applications/interchain_accounts/controller/v1/tx.proto
Labels: backport-to-v8.1.x

#5652 e2e: v8.1 upgrade test for capital efficient escrows
  .github/workflows/e2e-upgrade.yaml
  e2e/README.md
  e2e/tests/transfer/incentivized_test.go
  e2e/tests/upgrades/upgrade_test.go
  e2e/testsuite/testconfig.go
  e2e/testsuite/testsuite.go
  e2e/testvalues/values.go
Labels: e2e, priority

#5675 fix: set ordered as default ordering for ICA channels
  modules/apps/27-interchain-accounts/controller/keeper/msg_server.go
  modules/apps/27-interchain-accounts/controller/keeper/msg_server_test.go
Labels: priority

#5651 fix: add replay protection on upgraded channels
  modules/core/04-channel/keeper/export_test.go
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/keeper_test.go
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/errors.go
  modules/core/24-host/packet_keys.go
  modules/core/integration_test.go
  modules/core/keeper/msg_server_test.go
Labels: audit, channel-upgradeability, priority, backport-to-v8.1.x

#5668 fix: allow `RecvPacket` and `WriteAcknowledgement` when channel is `FLUSHING` or `FLUSHCOMPLETE`
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/packet_test.go
Labels: bug, priority, backport-to-v8.1.x

#5667 test: add additional test for iterator on fee mw migration
  modules/apps/29-fee/keeper/migrations_test.go
Labels: backport-to-v8.1.x

#5691 chore: remove IsOpen and IsClosed channel methods
  modules/apps/27-interchain-accounts/controller/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/core/04-channel/keeper/handshake.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/types/channel.go
Labels: backport-to-v8.1.x

#5638 fix: guarentee proof availiability for channel upgrades
  docs/docs/01-ibc/06-channel-upgrades.md
  modules/core/04-channel/keeper/handshake.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
  modules/core/04-channel/types/msgs.go
  modules/core/04-channel/types/msgs_test.go
  modules/core/04-channel/types/tx.pb.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  proto/ibc/core/channel/v1/tx.proto
  testing/endpoint.go
Labels: channel-upgradeability, priority, backport-to-v8.1.x

#5695 Wrap error returned from upgrade ACK application callbacks
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
Labels: backport-to-v8.1.x

#5700 revert: api breakage on release/v8.1.x
  modules/core/04-channel/types/channel.go
Labels: priority

#5698 Adding note about new channel states
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: channel-upgradeability, priority

#5702 imp: remove unexpected behaviour error string
  modules/core/04-channel/keeper/packet.go
Labels: audit, priority, backport-to-v8.1.x

#5435 Add `CommitHeader` to TestChain struct
  testing/chain.go
Labels: testing, priority

#5703 refactor!: remove unnecessary exported.ChannelI interface
  docs/docs/05-migrations/13-v8-to-v9.md
  modules/core/02-client/migrations/v7/solomachine.go
  modules/core/03-connection/keeper/verify.go
  modules/core/04-channel/types/channel.go
  modules/core/04-channel/types/codec.go
  modules/core/04-channel/types/codec_test.go
  modules/core/04-channel/types/expected_keepers.go
  modules/core/exported/channel.go
Labels: code hygiene

#5704 Refactor UpgradeError to use bullt in errors functions
  modules/core/04-channel/types/upgrade.go
  modules/core/04-channel/types/upgrade_test.go
Labels: channel-upgradeability

#5705 refactor(api)!: remove unnecessary channel getter functions
  docs/docs/05-migrations/13-v8-to-v9.md
  e2e/tests/interchain_accounts/localhost_test.go
  e2e/tests/transfer/localhost_test.go
  modules/apps/27-interchain-accounts/controller/ibc_middleware_test.go
  modules/apps/27-interchain-accounts/controller/keeper/handshake_test.go
  modules/apps/27-interchain-accounts/host/ibc_module_test.go
  modules/apps/27-interchain-accounts/host/keeper/handshake_test.go
  modules/apps/29-fee/ibc_middleware_test.go
  modules/apps/transfer/ibc_module_test.go
  modules/apps/transfer/keeper/relay.go
  modules/core/04-channel/types/channel.go
Labels: code hygiene

#5722 ICS4: fix off by one error in non-crossing-hello case
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: audit, channel-upgradeability, priority, backport-to-v8.1.x

#5735 docs: add additional docs on edge case channel upgradability scenarios
  docs/docs/01-ibc/06-channel-upgrades.md
Labels: docs, channel-upgradeability, priority

#5734 imp: add defensive check on WriteErrorReceipt in addition to more in-line docs on edge cases
  modules/core/04-channel/keeper/keeper.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/04-channel/keeper/upgrade_test.go
Labels: channel-upgradeability, priority, backport-to-v8.1.x

#5744 refactor(api)!: remove exported.CounterpartyChannelI interface
  docs/docs/05-migrations/13-v8-to-v9.md
  modules/apps/transfer/keeper/relay.go
  modules/core/04-channel/types/channel.go
  modules/core/04-channel/types/codec.go
  modules/core/04-channel/types/codec_test.go
  modules/core/exported/channel.go
Labels: code hygiene

#5761 fix(e2e): compatibility e2e test fixes
  .github/compatibility-test-matrices/main/ica-unordered-channel-chain-a.json
  .github/compatibility-test-matrices/main/ica-unordered-channel-chain-b.json
  .github/compatibility-test-matrices/release-v8.1.x/ica-unordered-channel-chain-a.json
  .github/compatibility-test-matrices/release-v8.1.x/ica-unordered-channel-chain-b.json
  .github/compatibility-test-matrices/unreleased/ica-unordered-channel.json
  .github/workflows/build-callbacks-simd-image-from-tag.yml
  .github/workflows/build-simd-image-from-tag.yml
  .github/workflows/build-wasm-simd-image-from-tag.yml
  .github/workflows/e2e-compatibility-unreleased.yaml
  .github/workflows/e2e-compatibility.yaml
  e2e/tests/interchain_accounts/base_test.go
  e2e/tests/transfer/incentivized_test.go
  e2e/testsuite/sanitize/messages.go
  e2e/testvalues/values.go
Labels: e2e, priority

#5537 e2e(upgrades): ordered ICA channel can be closed after upgrade and packet timeout
  e2e/tests/interchain_accounts/upgrades_test.go
Labels: e2e, channel-upgradeability, priority

#5661 Add E2E Upgrade test which performs a software upgrade and then a channel upgrade
  .github/workflows/e2e-upgrade.yaml
  e2e/tests/upgrades/upgrade_test.go
Labels: e2e, channel-upgradeability, priority

#5769 refactor!: remove GetState() on connection interface
  e2e/tests/interchain_accounts/upgrades_test.go
  e2e/tests/upgrades/upgrade_test.go
  e2e/testsuite/sanitize/messages.go
  modules/core/03-connection/types/connection.go
  modules/core/04-channel/keeper/handshake.go
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/upgrade.go
  modules/core/exported/connection.go
Labels: code hygiene

#5535 e2e(upgrades): crossing hello test
  e2e/tests/core/04-channel/upgrades_test.go
Labels: e2e, channel-upgradeability, priority

#5772 e2e: reorganize channel upgrade tests + add them to compatibility tests
  .github/compatibility-test-matrices/main/ica-channel-upgrade-chain-a.json
  .github/compatibility-test-matrices/main/ica-channel-upgrade-chain-b.json
  .github/compatibility-test-matrices/main/transfer-channel-upgrade-chain-a.json
  .github/compatibility-test-matrices/main/transfer-channel-upgrade-chain-b.json
  .github/compatibility-test-matrices/release-v8.1.x/ica-channel-upgrade-chain-a.json
  .github/compatibility-test-matrices/release-v8.1.x/ica-channel-upgrade-chain-b.json
  .github/compatibility-test-matrices/release-v8.1.x/transfer-channel-upgrade-chain-a.json
  .github/compatibility-test-matrices/release-v8.1.x/transfer-channel-upgrade-chain-b.json
  .github/compatibility-test-matrices/unreleased/ica-channel-upgrade-chain-a.json
  .github/compatibility-test-matrices/unreleased/ica-channel-upgrade-chain-b.json
  .github/compatibility-test-matrices/unreleased/transfer-channel-upgrade-chain-a.json
  .github/compatibility-test-matrices/unreleased/transfer-channel-upgrade-chain-b.json
  e2e/tests/interchain_accounts/base_test.go
  e2e/tests/interchain_accounts/upgrades_test.go
  e2e/tests/transfer/upgrades_test.go
  e2e/tests/upgrades/upgrade_test.go
  e2e/testsuite/testsuite.go
Labels: priority

#5775 refactor!: remove counterparty connection interface
  docs/docs/05-migrations/13-v8-to-v9.md
  modules/core/03-connection/types/codec.go
  modules/core/03-connection/types/codec_test.go
  modules/core/03-connection/types/connection.go
  modules/core/exported/connection.go
Labels: code hygiene

#5777 refactor!: remove unnecessary getters on connection end
  docs/docs/05-migrations/13-v8-to-v9.md
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/types/metadata.go
  modules/core/03-connection/keeper/keeper.go
  modules/core/03-connection/keeper/verify.go
  modules/core/03-connection/types/connection.go
  modules/core/04-channel/keeper/handshake.go
  modules/core/04-channel/keeper/packet.go
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/upgrade.go
Labels: code hygiene

#5783 refactor!: remove unnecessary getters on counterparty connection type
  docs/docs/05-migrations/13-v8-to-v9.md
  modules/apps/27-interchain-accounts/controller/keeper/handshake.go
  modules/apps/27-interchain-accounts/types/metadata.go
  modules/core/03-connection/keeper/verify.go
  modules/core/03-connection/types/connection.go
  modules/core/04-channel/keeper/handshake.go
  modules/core/04-channel/keeper/timeout.go
  modules/core/04-channel/keeper/upgrade.go
Labels: code hygiene
