Repository cosmos/ibc-go, pull requests merged in 2024-03, with the labels that each got.

#5911 docs: added feedback widget
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: docs

#5924 docs: upgraded docusaurus from v3.0 to v3.1
  docs/package-lock.json
  docs/package.json
Labels: docs

#5955 docs: add AI assistant to docs
  docs/docusaurus.config.js
  docs/static/img/white-ibc-logo-400x400.svg
Labels: docs

#5956 docs: update pushfeedback receiver to shared account
  docs/docusaurus.config.js
Labels: docs

#5927 imp: add flat fee for queries to `VerifyMembership`
  modules/core/02-client/keeper/grpc_query.go
Labels: backport-to-v8.2.x

#5827 02-client routing: implement `VerifyUpgradeAndUpdateState` in light client modules
  modules/core/02-client/keeper/client.go
  modules/core/02-client/keeper/client_test.go
  modules/core/exported/client.go
  modules/core/keeper/msg_server.go
  modules/core/keeper/msg_server_test.go
  modules/light-clients/06-solomachine/client_state.go
  modules/light-clients/06-solomachine/light_client_module.go
  modules/light-clients/06-solomachine/light_client_module_test.go
  modules/light-clients/07-tendermint/light_client_module.go
  modules/light-clients/07-tendermint/light_client_module_test.go
  modules/light-clients/07-tendermint/upgrade.go
  modules/light-clients/07-tendermint/upgrade_test.go
  modules/light-clients/08-wasm/light_client_module.go
  modules/light-clients/08-wasm/light_client_module_test.go
  modules/light-clients/09-localhost/client_state.go
  modules/light-clients/09-localhost/client_state_test.go
  modules/light-clients/09-localhost/light_client_module_test.go
Labels: 02-client, priority

#5988 add wasm protos to `release/v8.1.x`
  CHANGELOG.md
  modules/apps/transfer/types/authz.pb.go
  proto/ibc/lightclients/wasm/v1/genesis.proto
  proto/ibc/lightclients/wasm/v1/query.proto
  proto/ibc/lightclients/wasm/v1/tx.proto
  proto/ibc/lightclients/wasm/v1/wasm.proto
Labels: priority

#6012 docs: fix some broken links
  Makefile
  docs/architecture/README.md
  docs/docs/01-ibc/04-middleware/02-develop.md
  docs/docs/02-apps/02-interchain-accounts/02-development.md
  docs/docs/03-light-clients/04-wasm/01-overview.md
  docs/requirements/ics29-v1-requirements.md
  docs/versioned_docs/version-v6.2.x/02-apps/02-interchain-accounts/02-development.md
  docs/versioned_docs/version-v7.3.x/02-apps/02-interchain-accounts/02-development.md
  docs/versioned_docs/version-v7.3.x/03-light-clients/04-wasm/01-overview.md
  docs/versioned_docs/version-v8.1.x/01-ibc/04-middleware/02-develop.md
  docs/versioned_docs/version-v8.1.x/02-apps/02-interchain-accounts/02-development.md
  docs/versioned_docs/version-v8.1.x/03-light-clients/04-wasm/01-overview.md
  e2e/README.md
Labels: docs

#5909 deps: bump wasmvm v2.0.0
  docs/docs/03-light-clients/04-wasm/03-integration.md
  docs/docs/03-light-clients/04-wasm/09-migrations.md
  e2e/go.mod
  e2e/go.sum
  modules/light-clients/08-wasm/CHANGELOG.md
  modules/light-clients/08-wasm/go.mod
  modules/light-clients/08-wasm/go.sum
  modules/light-clients/08-wasm/internal/ibcwasm/expected_interfaces.go
  modules/light-clients/08-wasm/keeper/genesis.go
  modules/light-clients/08-wasm/keeper/keeper.go
  modules/light-clients/08-wasm/keeper/keeper_test.go
  modules/light-clients/08-wasm/keeper/msg_server_test.go
  modules/light-clients/08-wasm/keeper/options_test.go
  modules/light-clients/08-wasm/light_client_module_test.go
  modules/light-clients/08-wasm/testing/mock_engine.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  modules/light-clients/08-wasm/testing/simapp/simd/cmd/root.go
  modules/light-clients/08-wasm/types/client_state_test.go
  modules/light-clients/08-wasm/types/config.go
  modules/light-clients/08-wasm/types/errors.go
  modules/light-clients/08-wasm/types/gas_register.go
  modules/light-clients/08-wasm/types/gas_register_custom.go
  modules/light-clients/08-wasm/types/migrate_contract_test.go
  modules/light-clients/08-wasm/types/misbehaviour_handle_test.go
  modules/light-clients/08-wasm/types/proposal_handle_test.go
  modules/light-clients/08-wasm/types/querier.go
  modules/light-clients/08-wasm/types/querier_test.go
  modules/light-clients/08-wasm/types/store.go
  modules/light-clients/08-wasm/types/types_test.go
  modules/light-clients/08-wasm/types/update_test.go
  modules/light-clients/08-wasm/types/upgrade_test.go
  modules/light-clients/08-wasm/types/vm.go
  modules/light-clients/08-wasm/types/vm_test.go
  modules/light-clients/08-wasm/wasm_test.go
  scripts/get-libwasm-version.py
Labels: priority, backport-wasm-v0.2.x+ibc-go-v8.2.x-wasmvm-v2.0.x

#6018 refactor: rename SelfClientValidator to ConsensusHost and mv tests
  modules/core/02-client/keeper/client_validator.go
  modules/core/02-client/keeper/keeper.go
  modules/core/02-client/keeper/keeper_test.go
  modules/core/02-client/types/client.go
  modules/core/03-connection/keeper/handshake_test.go
  modules/light-clients/07-tendermint/consensus_host.go
  modules/light-clients/07-tendermint/consensus_host_test.go
  modules/light-clients/08-wasm/types/client_validator.go
  modules/light-clients/08-wasm/types/consensus_host.go
  testing/mock/consensus_host.go
Labels: priority

#5950 fix: fixed callbacks middleware wiring
  docs/docs/04-middleware/02-callbacks/02-integration.md
  docs/versioned_docs/version-v7.3.x/04-middleware/02-callbacks/02-integration.md
  docs/versioned_docs/version-v8.1.x/04-middleware/02-callbacks/02-integration.md
  modules/apps/27-interchain-accounts/controller/keeper/export_test.go
  modules/apps/27-interchain-accounts/controller/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/export_test.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/29-fee/keeper/export_test.go
  modules/apps/29-fee/keeper/keeper.go
  modules/apps/callbacks/export_test.go
  modules/apps/callbacks/fee_transfer_test.go
  modules/apps/callbacks/ibc_middleware.go
  modules/apps/callbacks/ibc_middleware_test.go
  modules/apps/callbacks/testing/simapp/app.go
  modules/apps/callbacks/testing/simapp/contract_keeper.go
  modules/apps/transfer/keeper/export_test.go
  modules/apps/transfer/keeper/keeper.go
Labels: callbacks middleware, priority, backport-callbacks-to-v0.2.x+ibc-go-v8.0.x, backport-callbacks-to-v0.2.x+ibc-go-v7.3.x

#5813 feat: celestia-da client for rollup txs against data availability root
  go.mod
  go.sum
  modules/light-clients/07-celestia/celestia.pb.go
  modules/light-clients/07-celestia/client_state.go
  modules/light-clients/07-celestia/codec.go
  modules/light-clients/07-celestia/genesis.go
  modules/light-clients/07-celestia/keys.go
  modules/light-clients/07-celestia/module.go
  modules/light-clients/07-celestia/row_proof.go
  modules/light-clients/07-celestia/share_proof.go
  modules/light-clients/07-celestia/update.go
  modules/light-clients/07-celestia/upgrade.go
  proto/ibc/lightclients/celestia/v1/celestia.proto
Labels: priority

#5785 feat: allow module safe queries in ICA
  CHANGELOG.md
  e2e/tests/interchain_accounts/query_test.go
  e2e/testsuite/codec.go
  e2e/testsuite/tx.go
  modules/apps/27-interchain-accounts/host/keeper/export_test.go
  modules/apps/27-interchain-accounts/host/keeper/keeper.go
  modules/apps/27-interchain-accounts/host/keeper/keeper_test.go
  modules/apps/27-interchain-accounts/host/keeper/msg_server.go
  modules/apps/27-interchain-accounts/host/keeper/msg_server_test.go
  modules/apps/27-interchain-accounts/host/keeper/relay_test.go
  modules/apps/27-interchain-accounts/host/types/codec.go
  modules/apps/27-interchain-accounts/host/types/codec_test.go
  modules/apps/27-interchain-accounts/host/types/host.pb.go
  modules/apps/27-interchain-accounts/host/types/msgs.go
  modules/apps/27-interchain-accounts/host/types/tx.pb.go
  modules/apps/27-interchain-accounts/types/router.go
  modules/apps/callbacks/testing/simapp/app.go
  modules/light-clients/08-wasm/testing/simapp/app.go
  proto/ibc/applications/interchain_accounts/host/v1/host.proto
  proto/ibc/applications/interchain_accounts/host/v1/tx.proto
  testing/simapp/app.go
Labels: 27-interchain-accounts, feature, api breaking, priority, backport-to-v8.2.x
